[2017-02-12 16:55] TheAssassin opened #3 "Verify copyright for phone animation"
We need to find a license for the phone animation and include that into the repository as mentioned in #2. Otherwise, the use and distribution might result in a copyright infringement, which is not desirable for anyone involved.

[2017-02-12 17:20] TobiGr opened #4 "Add page for imprint"
We need a page for an imprint.
If we don't have one, we can get in trouble with German and European laws.

- [ ] Imprint information like address, contact and legal information
- [ ] Disclaimer for external links

Further, we should discuss whether we use cookies.

[2017-02-12 17:36] TobiGr opened #5 "Add page for donations"
As @ponypower [mentioned](https://github.com/TeamNewPipe/NewPipe/issues/277#issuecomment-216072533), we need a subpage for donations.
So we have to discuss, which services should be offered and then gather the required information for coding.

[2017-02-12 17:56] theScrabi commented on #5
That is a good idea. We should also discus how to handle donations.

[2017-02-12 17:59] theScrabi commented on #4
@TheAssassin about that Imprint, we have to discus that.

[2017-02-12 18:08] TheAssassin commented on #4
Your justification is quite vague. I am going to clarify that.

First of all, let's regard German law: The first relevant one is the Telemediengesetz (TMG). Having a look at [§ 5 TMG](https://dejure.org/gesetze/TMG/5.html) which cares about the internet presence as a whole, an imprint is required for "geschäftsmäßige Online-Inhalte". As Newpipe and its website are all non-commercial, there is no n

[2017-02-12 18:08] #4 closed

[2017-02-12 18:15] TobiGr commented on #4
Perfect. Less work to do ;)
Adding an imprint and a disclaimer is probably a reflex, because I usually make wesites for companies and organisations.

[2017-02-12 18:29] TheAssassin commented on #4
Tip for the future: Read the first part of [this blog post](http://blog-it-recht.de/2013/09/27/datenschutzklausel-und-haftungsausschluss-im-impressum/). You shouldn't add disclaimers in general. (There's just one exception: if that makes your bosses feel more comfortable, go add one).

[2017-02-12 18:32] TobiGr commented on #4
Danke

[2017-02-12 19:52] ponypower commented on #5
Basically the people who wants to donate determine what services we need to offer. In other words we gotta identify the mostly used channels in the past and figure out what services will be popular in the future.

[2017-02-12 20:40] TheAssassin commented on #5
During my life as a free software developer, I've seen and/or met a few options. All of them are some kind of crowdfunding methods.

**Proprietary, most popular, most annoying**

 - PayPal: proprietary payment system, charges fees for every transaction from recipients, they're quite awful especially for smaller amounts of money. Okayish platform, haven't tried the donation feature yet, but heard g

[2017-02-12 22:27] theScrabi commented on #5
@TheAssassin `During my life as a free software developer ...` like you are that old xD

[2017-02-15 21:35] TheAssassin commented on #3
@theScrabi you provided the files of the current website, do you know anything about its license?

[2017-02-16 12:30] theScrabi commented on #3
Well ... not really. I know that [drakon5](https://github.com/darkon5) created the website (at least I think it was him). He initially created a website, and we just took the files from his site and put it at your server.

[2017-02-16 16:29] TobiGr commented on #3
Depending on the frame rate and the resolution we could use GIF-animations instead. But I am not sure how large the files will become.

[2017-02-16 20:06] TheAssassin commented on #3
This doesn't solve the copyright questions at all. It doesn't depend what format the file has but how the author licensed it.
And actually WebM is a lot more suitable for this kind of use case than GIF (GIFs are, as you implied, bloaty, uncompressed files, WebM is a real codec for videos). They're widely supported nowadays, it's not like in 2005.

[2017-02-18 00:21] TheAssassin opened #8 "Replace icon placeholders"
You could use Font-Awesome icons to replace those icon placeholders. That improves mobile experience, as the font is vector based and not quite large.
Ideally you add the files to the repository just like you did with Bootstrap and the other files.

[2017-02-18 00:23] TheAssassin opened #9 "Remove npm related stuff"
Since we are not using NodeJS code (or anything that needs it, like npm, Grunt etc.), we don't need to have these `npm.js` files in the repository. They should be removed.

[2017-02-18 01:51] ponypower opened #10 "Design"
**Let's build this website!**
Continuing the discussion from https://github.com/TeamNewPipe/NewPipe/issues/277 and https://github.com/TeamNewPipe/NewPipe/issues/435.

I went through a few dozen "best app websites" when I put together the new design and according to what I saw it looks like nearly everything has been figured out that could have been. So there are definitelly tons of cool ideas out

[2017-02-18 09:06] zoff99 commented on #5
https://stripe.com

[2017-02-18 09:41] TobiGr commented on #10
@ponypower that's a good idea.
I was thinking about a gallery that has a horizontal scrolling. By clicking on a feature the gallery would scroll to this slide. This would allow us to show some more specific pictures of the app and at the same time reduce the required space for small screens.
This is only a quick scratch. But if you like it, maybe we can figure out a better design.
![gallery overvi

[2017-02-18 11:21] TheAssassin commented on #5
Stripe has been designed for credit cards only at first, new payment methods like SEPA transactions have been added just recently. Fees are similar to PayPal. Never used it though, just read about someone integrate it into a Python web application, which didn't look too complicated.
https://stripe.com/de/pricing

[2017-02-18 15:37] ponypower commented on #5
I have no idea how much we can expect for the project.
- I think the first goal should be covering the yearly costs, like running the website. Or is the current domain free of charges? How about www.newpipe.com? Is that too ambitious?
- When we go above the costs we don't have to immediatelly distribute it in pennies and such. We could just collect it till the end of the year and then see how much

[2017-02-18 16:00] TheAssassin commented on #5
`newpipe.com` is owned by one of those really annoying domain parking services. They want 2500 bucks for that domain? No way, that'd be a waste of money. We'd find another domain. But I think `newpipe.schabi.org` will do the job for now.

Speaking about yearly costs: There's some yearly costs for renting `schabi.org`, and of course for renting my server which is running most services at the moment

[2017-02-18 16:24] ponypower commented on #5
@TheAssassin I didn't know the site runs from your server free of charge. That's pretty nice of you!

I think that's not the right approach. Devs voluntary spend their free time on the project. And donators do not pay, They donate. Donation is a meaningful form of appreciation and help. It's not about getting payed but feeling appreciated. It's more like a gesture I believe.

[2017-02-18 16:41] TheAssassin commented on #5
Nevermind, there's plenty of resources left (CPU, RAM, traffic), NewPipe stuff don't use much resources.

In my experience, people usually donate to fund new features that cost money. I haven't met anyone donate as a gesture, the donors usually want something new for their money (no, existing software doesn't count), which is why I called them payments instead of gestures. That's why I suggested t

[2017-02-18 17:07] ponypower commented on #5
Fair enough. Now I'm curious what's the broader opinion on this here.

[2017-02-18 21:58] theScrabi commented on #3
1. I think the creator would not care
2. As I said that video is obsolete, we'd have to recreate it anyway.

[2017-02-18 22:17] TobiGr commented on #10
@ponypower Did you design the features' icons or did you use some from FontAwesome or somewhere else?

[2017-02-18 23:02] ponypower commented on #10
I couldnt finish the design today, but here are some carefully placed rectangles for a FullHD screen. This is an extension of the mobile version so there should be no major issues with resizing. The other parts of the site are coming too with new ideas from @TobiGr.

@TobiGr The feature icons are temporary designs. Downloading them is a good idea. Not much hassle and good quality stuff.
Placing sc

[2017-02-19 02:29] theScrabi commented on #10
I like the design with the squares :+1:

[2017-02-19 08:16] TobiGr commented on #10
Good job. It's perfect!

[2017-02-19 09:53] TobiGr commented on #10
@Ponypower we don't have to add one slide for each feature. I think that some things don't need an explanation (for example free, add free and lightweight).
But to show how the app works we need screenshots.

[2017-02-19 19:23] TheAssassin opened #12 "Replace F-Droid badges with vector graphics"
As mentioned in #11, we should replace the PNG graphics with vector graphics. The F-Droid project publish their artwork in a [repository on GitLab](https://gitlab.com/fdroid/artwork). The "Get it on F-Droid" badges are in [this directory](https://gitlab.com/fdroid/artwork/tree/master/badge).

I'd suggest using [this one](https://gitlab.com/fdroid/artwork/blob/master/badge/get-it-on.svg), it's the

[2017-02-19 19:48] #12 closed

[2017-02-20 14:57] TobiGr opened #13 "Screenshots and new animation"
Because my phone is to small I can't make good screenshots and a new animation.
Besides this, we should discuss which features should be shown (in the screenshots and in the new animation as well).

[2017-02-20 15:08] TobiGr commented on #10
@ponypower Do you have any ideas for texts that describe the respective features in more detail?
The text describing the background player sounds good 👍

[2017-02-20 17:16] ponypower commented on #10
Giving a few witty lines to an obvious feature could be funny :) Btw I haven't put much thought into the feature details. I'm cool with someone else doing it. Try to give it a good vibe though.

Okay, we need screenshots. Someone please give me expressive shots of the functions in a common screen ratio. (My own screen is 480x800.)

[2017-02-20 18:51] TheAssassin commented on #13
I guess it's possible to record the Android emulator window.

[2017-02-20 19:31] TobiGr commented on #13
That's a good idea.

[2017-02-20 19:44] TheAssassin commented on #13
I'm working on this right now. I'm creating a basic version of something similar to what we have, but I'd like to have some video that showcases the screen rotation behavior etc.

[2017-02-20 19:46] TheAssassin commented on #13
*Offtopic:*
By the way, @theScrabi and I decided to test a FreeNode IRC channel for communication. You can join it if you want, and chat with others there (well, I hope others will join it, too).

[2017-02-20 19:50] TheAssassin commented on #13
*More offtopic:*
The channel name is [#newpipe](https://webchat.freenode.net/?channels=%23newpipe).

[2017-02-20 20:01] TheAssassin commented on #13
I tried to make a video using the video recording built into Android Studio. The resulting video has a very low framerate, and doesn't look very good. I guess one has to use a normal screen recorder or just record on a real device.

[2017-02-21 01:51] theScrabi commented on #13
There is a screenrecorder embedet into cyanogenmod. I give it a shot.

[2017-02-21 19:23] TobiGr commented on #12
Internet Explorer 11 and lower only partially supports the scaling of SVG images. This causes strange picture details.
Should I find a JS workaround or ignore the few people using IE?

[2017-02-21 19:51] TheAssassin commented on #12
Internet Explorer's market share is really low, especially in the world of free software. I don't really care about Microsoft's crap browser being unable to implement internet standards.

[2017-02-21 20:25] ponypower commented on #10
In the meanwhile I'm experimenting with the design. Trying to put together something cool. Expect some delay :(

[2017-02-21 20:32] TobiGr commented on #10
No problem. I'm focusing on the gallery. I hope I can finish it by the end of the week.

[2017-03-03 21:45] TobiGr commented on #10
@ponypower can you please upload the background image of the header so I can use it?

[2017-03-04 20:35] ponypower commented on #13
Hey guys, any results yet?

[2017-03-04 20:50] TheAssassin commented on #13
Not yet. I was waiting for @theScrabi to tell us about his results with the CyanogenMod screen recorder.

[2017-03-06 14:20] theScrabi opened #16 "Hosting Website on pages.github.io"
Was that a good idea to host our website at pages.github.io?

[2017-03-06 15:33] TheAssassin commented on #16
Is there anything wrong with the current hosting? I don't think that'd add any value. Even worse, there's no SSL support on Github pages.

[2017-03-06 17:51] theScrabi commented on #16
A no, there is no problem with the hosting.
Just thought :P

[2017-03-06 17:51] #16 closed

[2017-03-07 18:45] ponypower commented on #10
I'm sorry, I got pretty busy the last two weeks but I'm expecting to get a decent design by the end of this week. *fingers crossed*

[2017-03-30 10:26] TobiGr commented on #10
@theScrabi Do you want more information about the slides and the CCC to be displayed? And should we say CCC 2016 or 33C3?

![screenshot 5 full](https://cloud.githubusercontent.com/assets/17365767/24499698/cdbc4e6e-1542-11e7-9c7f-bd46d719e477.png)

[2017-03-30 10:44] theScrabi commented on #10
I think a link to the slides would be enough.
I would write 33c3.

[2017-03-30 19:38] TobiGr commented on #10
While fixing a problem, that the animation is loaded but not displayed on small screens, following question comes to my mind:
Should we load and display the animation on small devices / screens?
Some devices / browsers (often the combination of both) are too slow for playing videos.

I'd prefer to display the animation frameless (without the Nexus image) on small devices. We can enable 'click and

[2017-03-30 19:51] TheAssassin commented on #10
We don't really need to show an animation on small screens, to be honest.

[2017-03-30 19:53] TobiGr commented on #10
Good. Than I'll add the script to prevent loading it on small screens. New PR or the current?

[2017-03-30 19:56] TheAssassin commented on #10
I don't really mind, it's a bit messy already. I am going to have a detailed look at it whenever you say it's ready.
Looks better and better with every commit.

[2017-04-01 17:31] TobiGr commented on #10
I made some changes, because the white background of the text containers was a little aggressive and the donate button didn't fit to the other colors. But ultimately I'm not happy with the donate button. Any suggestions?

![screenshot 7 full](https://cloud.githubusercontent.com/assets/17365767/24580874/99e88952-1710-11e7-9bcc-5278dc02e9b2.png)

[2017-04-01 22:17] TobiGr commented on #10
That's my final design for small screens.
Final design for desktops see above. (I'm fine with the donate button now :) )
I hope you like it. If there are any things you'd like to change, please tell me!
![screenshot 8 small](https://cloud.githubusercontent.com/assets/17365767/24582769/5d186566-1737-11e7-8d51-3fd5254680ce.png)

[2017-04-02 15:14] TobiGr commented on #9
I think this can be closed. It is resolved since e6a9884 with #11. I forgot to mention this issue.

[2017-04-17 21:58] TobiGr commented on #10
I'm working on the CCC slides improving the design @TheAssassin worked out. I have to agree that the link to the slides should be at the bottom of the page. @theScrabi What about this instead of the extra container below the gallery?

![screenshot 10 full](https://cloud.githubusercontent.com/assets/17365767/25106028/b5ce0fc0-23c7-11e7-8949-9ef139660285.png)
![screenshot 10 small](https://cloud.git

[2017-04-18 16:48] TobiGr commented on #13
Is there any progress?

[2017-04-18 19:45] theScrabi commented on #13
Ow yea I worked on a video, but so far I don't like that.

Sorry I was still in the state of not using a video.

[2017-04-29 15:36] wb9688 commented on #5
What about something like [Bountysource](https://www.bountysource.com/)?

[2017-04-29 18:24] theScrabi commented on #5
We talked about that, and I kind of liked it, but it also turned out that developing with that kind of thing has some disadvantages.
The concern would be that some people would write their bounty, get their reward, and than leave forever without maintaining what they did.

[2017-05-03 17:55] TobiGr commented on #10
To be honest, I'm not happy with the gallery nor the popup to introduce NewPipe's features (popup see [here](https://github.com/TeamNewPipe/NewPipe/issues/277#issuecomment-216072533) and at the very beginning of this issue). Another idea for the features is an accordion, so only the content of the focused feature is visible while the other details are collapsed. When clicking on a different item i

[2017-05-03 18:57] ponypower commented on #10
Hey guys, I'm back. I'm going to continue the work on the design where I left.
I can see @TobiGr is doing a pretty decent job.
Are you guys open to implement an improved design (which im planning to continue work on) or you want to go with the above version?

[2017-05-03 19:03] ponypower commented on #5
about bounty&leave; I say worrying about maintenance is generally just the next step, first we just gotta get things done, thats how projects go forward

[2017-05-03 19:06] TobiGr commented on #10
I prefer to continue with the stuff that's already implemented :wink:
But maybe we both can work on an improved design together, discuss the issues that are left and embellish the current design.
Apart from this we need a concept that could be applied to the app later too.

[2017-05-03 20:20] TheAssassin commented on #10
I agree, a second independent design seems like a lot of overhead. And @TobiGr has invested a notable amount of time already, so choosing a completely different theme is unlike to happen. I agree that you can by bundling your efforts you can create something awesome together. Collaboration is the foundation of the open source world, after all.

[2017-05-03 22:14] theScrabi commented on #5
Ok I'll think about it :)

[2017-05-04 18:36] theScrabi commented on #5
Ok I'd be good with that idea: https://github.com/TeamNewPipe/NewPipe/issues/534

[2017-05-06 21:50] mauriciocolli commented on #13
Hey, I did a screen record [here on Google Drive](https://drive.google.com/open?id=0B4_v6DLdrpy3NnBscFVUN255cUE) (please download it, as the Google player's compression ruined the video and the frame rate).

It's not the final, just to give an idea and here's some details:
- The first and last frame are very similar, giving the seamless effect in a video with loop enabled
- 60fps because makes the

[2017-05-07 07:26] theScrabi commented on #13
It's good, although
- channel support is not shown
- and I wonder why playing regular videos is not shown

[2017-05-07 16:22] TheAssassin commented on #13
@theScrabi to make it easier for @mauriciocolli and others to record videos and contribute them, you should publish a list of requirements (what has to be shown in what way).

[2017-05-07 17:56] theScrabi commented on #13
Ok things to show would be:
 - Search Video
 - Show channel
 - play Video
 - download video/music
 - show download screen (while downloading, also there should be some videos/music downloaded already)
 - show play in background
 - show play as popup

[2017-05-10 16:42] TobiGr opened #20 "News or blog"
An interesting page of the new website could be a blog or news section where the developer announce new features and versions of NewPipe or other interesting things like articles about NewPipe in the media, statistics and information about upcoming events.
To be honest, it isn't useful at the moment, but at a later point in time it could be helpful.
@theScrabi @TheAssassin  @ponypower Tell me what

[2017-05-10 21:31] theScrabi commented on #20
TheAssasine and I had a conversation about this already. He urged me months ago that I should start a blog about NewPipe.

[2017-05-10 21:32] theScrabi commented on #20
But I think for now we should focus on finishing the website as it is, and later talk about a blog etc. What do you think?

[2017-05-11 06:58] TobiGr commented on #20
Yes I totally agree with you.
I asked that question because we now can discuss whether we should always show the latest article on the main page or only provide a link to the blog in the navigation or/and the footer.

[2017-05-11 08:13] theScrabi commented on #20
It might be more catchy if the latest article is shown.

[2017-05-11 08:19] theScrabi opened #21 "get webstorm license"
@TobiGr
The Project of the website is now more than 3 months old. Isn't it now pissible for you to get a webstorm licinse?
https://www.jetbrains.com/buy/opensource/?product=webstorm#application-rules

[2017-05-11 08:33] TobiGr commented on #21
Before I can get it, we will need a license, which @TheAssassin wanted to create.

At the moment there are no published 'builds' for the website. If I understand that correctly, we have to publish at least some early state of the website to any domain.

Btw. I have a license for IDEA and PhpStorm, so I can get one for webstorm easily too.

[2017-05-11 08:42] TobiGr commented on #20
@ponypower We can add a news section add the bottom of the page including the latest article and a download link for the CCC presentation. What do you think?

[2017-05-11 10:13] wb9688 commented on #21
Why'd you even want to have WebStorm?

[2017-05-11 10:40] TobiGr commented on #21
Good question

[2017-05-11 20:00] ponypower commented on #20
@TobiGr Sure. I find this too a good idea. Do you need any support design wise?
As far as I remember the CCC presentation contains only a limited amount of information. Dunno if that interests many people. I think completing it with additional notes (what was mentioned at the presentation) would be nice.

[2017-05-11 21:13] TobiGr commented on #20
@ponypower You are right. The presentation isn't enough to inform the user about how NewPipe works. My idea is that this can be done in some blog entries which are pinned on the right side of the blog page. I'm thinking of something like this:
![blog-1](https://cloud.githubusercontent.com/assets/17365767/25970756/0039fe4a-369a-11e7-8272-39c8233cd920.png)

I'm - as user - not interested to click th

[2017-05-11 22:03] TheAssassin commented on #21
Closing as this is not an issue with the website repository but about the tools of single developers and thus pure offtopic.

[2017-05-11 22:03] #21 closed

[2017-05-11 22:07] TobiGr commented on #21
@theScrabi We can discuss this at the irc channel

[2017-05-11 22:59] ponypower commented on #20
No reason to embed the presentation. A download link is just enough.

[2017-05-12 02:08] theScrabi commented on #21
We could yea. I dont need webstorm, I get the license from my university. I yust eated to remind xD you, if someone was interested xD.

[2017-05-13 12:14] wb9688 commented on #13
I've tried to create [a video](https://wb9688.stackstorage.com/s/XilyIREE6PRQOza), but it's probably too fast.

[2017-05-13 17:16] theScrabi commented on #13
Yea it's a bit fast.

[2017-05-16 21:05] TobiGr commented on #10
@ponypower Do you have any ideas on how to design the feutures so that they look good and can be easily handled on small and large screens?

[2017-05-30 07:52] TobiGr commented on #10
@ponypower Can you please upload the header's background image you used [here](https://github.com/TeamNewPipe/website/issues/10#issuecomment-280881843) to the repository so I can work with it?

[2017-05-30 09:44] TobiGr commented on #20
This is my first design for a single article page.
I'm struggling with the (optional) comments right now. @theScrabi @TheAssassin  Do you think we'll need them?
Tell me what I can improve.

Design without comments:

![blog-10](https://cloud.githubusercontent.com/assets/17365767/26577496/daaa3842-452c-11e7-9da6-8c64689674a9.png)

Design with comments:

![blog-9](https://cloud.githubusercontent.com/

[2017-05-31 10:57] TobiGr opened #22 "Detailed description for items in features"
We have a sort description of the displayed features on the first slide of the gallery by @ponypower.
But we need a detailed description for the features we want to explain a little further. And we have to decide which features are going to have a detailed description and screenshots.

[2017-06-01 15:17] TobiGr commented on #20
@TheAssassin I think a CMS for the blog is quite useful and saves a lot of time I'll spend on development. I suggest to use either Wordpress or Typo3. What do you think?

@ponypower This is how the latest article can look like on our main page.
![screenshot 20 - full - blog - 2](https://cloud.githubusercontent.com/assets/17365767/26686632/daa635b8-46ed-11e7-943d-613a4579b4cf.png)

[2017-06-01 17:18] TheAssassin commented on #20
Wordpress is itself a security hole, and Typo3 is full of issues, slow, bloaty and overall sucks.

If you want a blog, please check out static publishing systems, like Jekyll or Pelican. They are secure, fast, can be stored in git. Simply put, perfect. With some JavaScript magic, we can display the latest article easily on the site.

[2017-06-01 17:33] TobiGr commented on #20
Yeah, you're right. Wordpress and Typo3 would need a lot of maintenance time later on. So Jekyll seems to be a good solution to me. But before I will focus on the development of the blog, the main page should be finished.

[2017-06-01 18:10] TheAssassin commented on #20
Yep, that's what I would suggest, too.

[2017-06-05 13:08] TheAssassin opened #23 "Figure out licensing"
Continuation of the discussion in #18.

We have to figure out how to properly use external resources.

Questions to be answered:

* Do we have to mention what frameworks and libraries we use?
* If yes, how?
* How can we license the contents in this repository?
  * Pick separate licenses for code and content?

This is probably the last step to be done before going live with this site.

[2017-06-06 12:34] TobiGr commented on #20
I've played a little with some designs and ended up with [this](https://github.com/TobiGr/NewPipe-Blog) as my first idea of the blog. It's just a first try, so things like many links, the sidebar and the mobile version don't work as expected and they have probably some issues. But before I'm going to spend more time on it, I need feedback of what you think of it.

[2017-06-06 17:44] TobiGr opened #24 "Links in the footer"
At the moment we have five links in the footer. We should discuss wether all of them are necessary. Here is a quick overview:

1. **Support**: If we want a support page we need to figure out how we want to help the people. I think that's more or less what the issue page on GitHub is doing right now. If we want to give them a little beginner guide, this can be done via an intro on the first launch

[2017-06-06 20:50] theScrabi commented on #24
About the support: Basicly thats github Issues, and that will keep being.

About that Privacy Statement for Android: We are sending data back to our servers, so we need one right :/

[2017-06-06 20:52] wb9688 commented on #24
@theScrabi: What data?

[2017-06-06 21:36] theScrabi commented on #24
Bug reports via Mail. Doesn't that already count?

[2017-06-07 20:43] TheAssassin commented on #24
I don't think so. It's no active data collection, and fully transparent to the user. We just create some part of the payload of the mail, but it's sent via the mail client, an external application. Nothing that could be classified as "private data" goes in it, except for the IP range (I'm not sure why @theScrabi introduced that). Furthermore, any user sending a mail to our service does (implicitly

[2017-06-09 21:24] TobiGr commented on #10
I have some general questions one some features and design tweaks of the new websites where I need your opinion.

## Search in navigation bar

![blog-navbar-search-1](https://user-images.githubusercontent.com/17365767/26994251-221c56d2-4d67-11e7-9062-429d2874b4db.png)
![blog-navbar-search-1-focus](https://user-images.githubusercontent.com/17365767/26994252-221e2cbe-4d67-11e7-8433-a88dbd198ae9.png)

[2017-06-09 23:39] TheAssassin commented on #10
The more I think about it, the less important that "last article" on the main page gets, primarily because people actually have to scroll down all that page. Also, it seems like the cost-benefit ratio isn't acceptable, due to the high effort required to make it work and integrate nicely. Writing a Jekyll plugin just for _that_ thing?

I'd propose to just let the blog remain a separate component. D

[2017-06-10 14:09] TobiGr commented on #10
If we remove the "latest article" box from our main page, we should find a way to tell the people that we have an active blog. Once some articles are published, they worth it to get attention.

The blog integration on the main page is not a problem with Jekyll as long as we keep both sites in the same repository. The question is if there is a clean and nice way to put the blog and all its componen

[2017-06-11 17:30] TobiGr commented on #10
@TheAssassin The full-width banner can look like this:
![screenshot 26 full - semi](https://user-images.githubusercontent.com/17365767/27013045-3c63d3c8-4edc-11e7-845d-8f7be96ed09c.png)

[2017-06-12 05:42] TheAssassin commented on #10
Looks good to me. I think this will suffice for now.

[2017-06-14 17:40] TheAssassin commented on #13
I have recently discovered a [new app](https://f-droid.org/repository/browse/?fdid=com.orpheusdroid.screenrecorder) for screen recording, if anyone wants to give it a try, it works quite well.

[2017-06-18 22:00] TobiGr commented on #20
@TheAssassin @theScrabi I have been working on the development of the blog this week. I think that it still needs a few smaller design improvements, but apart from that only the content is missing. Before posts get written we should open a new repository for the blog.

If we want to use comments the whole thing is going to be more complicated. There are several ways to make comments possible:

Use

[2017-06-19 17:49] TheAssassin commented on #20
Well, I'd rather keep this repository as static as possible. I'm not even sure whether comments are that useful, but if you really want to implement them, I'd go for the Disqus approach. There is a self-hostable alternative for Disqus: https://posativ.org/isso/

I've tried it a while ago, and it worked fine. Might be worth to try that first of all. I'd set up a demo if @theScrabi and the others th

[2017-06-20 08:29] TobiGr commented on #20
@TheAssassin I am also not sure if we will need comments. That's why I asked. But if you want to keep it static (I'd prefer that too) we can test the jekyll-static-comments plugin. It seems to be more static but needs maintenance.

[2017-06-20 08:50] TheAssassin commented on #20
The only thing static about that plugin though is that it uses flat files. I'd rather host an external system for comments though, like isso, because that's fully separated and might come in handy for some other of my projects.

[2017-07-11 11:25] TobiGr commented on #5
Here are my ideas for the donation page:

- [desktop size](https://user-images.githubusercontent.com/17365767/28065317-53b034e0-6638-11e7-801a-665628f13bd2.png)
- [mobile size](https://user-images.githubusercontent.com/17365767/28065316-53aa9fbc-6638-11e7-8488-5923c3911b30.png)
- [BitCoin Popup](https://user-images.githubusercontent.com/17365767/28065318-53b198e4-6638-11e7-8354-d86bd30e00b7.png)

[2017-07-11 11:55] TheAssassin commented on #5
It's "Bitcoin". Also, it's " boost".

I'd write "One-time donation" instead of calling it normal. We might add regular donation features in the future, and they should be prioritized, as regular donations are better.

I'd further remove 1USD from the list. They're not really worth the effort. If someone wants to donate that amount nevertheless, they can use the custom amount features.

[2017-07-11 11:58] TheAssassin commented on #5
You can also remove the gray area below the buttons.

I also don't like the huge red text in the bitcoin modal's lower area. Beware of saying thanks too often. The donors profit already because they can use NP free of charge. A single "thank you" will do.

Other than that, looks like a good start to me.

[2017-08-11 13:11] theScrabi commented on #10
@TobiGr I don't know where or when, but I think you asked me once to look at your feature description. I think it's good the way it is :)

By the way, if we:
 - [ ] Changed the icons to the current version
 - [ ] and replaced the video

I would be ok to release the website. I mean we can still Improve it after the first version is released. @TheAssassin @TobiGr what do you thing?

[2017-08-11 14:20] TheAssassin commented on #10
I am preparing to finally move to a new host. I'll schedule the release for when I'm done with that.

[2017-08-19 21:24] #23 closed

[2017-08-19 21:26] TheAssassin commented on #23
@TobiGr I understood your statement about licensing everything as CC-0 that you were okay with the licensing I just published (MIT for code, CC-BY-SA 3.0 for contents). Can you please verify that this is okay for you?

[2017-08-19 21:49] TobiGr commented on #23
@TheAssassin Yes, that looks good to me.

_Sent from my Motorola MotoE2(4G-LTE) using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-19 21:53] TobiGr commented on #10
@theScrabi Do you have a .SVG file of the logo?

[2017-08-19 22:09] TheAssassin commented on #23
Thanks. Deployment is on its way.

[2017-08-19 23:24] theScrabi commented on #10
Yes.
The android materialized [icon](https://github.com/TeamNewPipe/NewPipe/blob/master/assets/new_pipe_icon_5.svg) and the [flat icon](https://github.com/TeamNewPipe/NewPipe/blob/master/assets/NP%20logo%20v2.svg).
This Icon should be replaced, since the icon shown on the website was never uses.

[2017-08-19 23:25] theScrabi commented on #10
However nice work so far, I like the new website :+1:

[2017-08-19 23:41] TheAssassin commented on #10
Auto deployment hasn't been set up yet, but we rarely update it so I'll leave it to manual updates for now.

[2017-08-20 07:47] TobiGr commented on #10
I am quite busy right now but I hope to get everything done until Friday so @TheAssassin can put the website online at the weekend or whenever the server is ready.

[2017-08-20 10:48] TheAssassin commented on #10
@TobiGr check it out, the website is live: https://newpipe.schabi.org

[2017-08-20 17:48] TobiGr commented on #10
@TheAssassin When I try to visit https://newpipe.schabi.org I get either timeout or connection errors.

[2017-08-20 20:37] TheAssassin commented on #10
That's really strange. My monitoring reports it to be up and running fine. I occasionally visit it, and don't experience any problems.

[2017-08-20 20:40] TobiGr commented on #10
The errors are gone. I can visit it now.  Never mind.

[2017-08-20 21:22] #24 closed

[2017-08-21 17:30] TobiGr commented on #10
@TheAssassin Some images and the animation are not in the Server (or at least the addresses are wrong)
[code]

[2017-08-22 18:14] TobiGr commented on #22
@theScrabi wrote [here](https://github.com/TeamNewPipe/website/issues/10#issuecomment-321808160):

[2017-08-22 18:14] #22 closed

[2017-08-30 08:40] bisam commented on #5
Just as a reminder, the website has this "Donation" button but it is not working. Perhaps you should mention that there currently is no official way to donate, so people don't have to look for this issue to find out :)

[2017-08-30 09:14] TheAssassin commented on #5
@theScrabi, everyone's waiting for Bountysource. Can you provide an ETA for that?

[2017-08-30 13:51] TobiGr commented on #5
If @theScrabi needs some time we could insert a modal with information about our Bitcoin address or use the button to link to the app's README page which also contains the Bitcoin address.

[2017-08-30 22:54] TheAssassin opened #33 "User voices"
As showcased e.g. on http://appimage.org, a few user voices showing how people use NewPipe and what they like about it would be awesome for promoting NewPipe. Potential users could see that this is a serious project, and that it has an active community and also user base.

Some of the references mentioned in https://github.com/TeamNewPipe/NewPipe/issues/666 might come in handy for this purpose. @t

[2017-08-30 23:03] mauriciocolli commented on #33
There're some places that I periodically check and it's a good source of information, you can found them in [Insights > Graphs > Traffic](https://github.com/TeamNewPipe/NewPipe/graphs/traffic) on Newpipe (I guess only team members have access to it):

![traffic](https://user-images.githubusercontent.com/13389907/29898687-961df766-8dbd-11e7-8069-a4525d814c72.png)

[2017-08-31 12:56] TheAssassin opened #35 "Donation button hotfix's modal interferes with moving background"
The hotfix I just merged in #34 interferes with the moving background picture showing those faces. The problem is that the picture is centered and not anchored to either side of the page.

When the modal pops up, and the scroll bar vanishes, the side width changes, and the centered background picture moves a little to the right.

I assume this would occur with any modal popping up on one of the pa

[2017-08-31 13:00] TheAssassin commented on #35
Update:

I noticed that the whole page moves a bit, and that's actually mandatory, as the rest of the page is centered as well. The problem rather arises when watching the slideshow while opening up the modal. Somehow, the slideshow is not centered, but orientates at the left side of the page.

Either way, we need a fix for this. I guess the proper solution is to fix the anchor of the slideshow ra

[2017-08-31 17:02] TobiGr commented on #35
Thank you for the invitation.
I do not have time to look at these issues until Sunday, but I'll fix them as soon as possible.

[2017-08-31 19:44] #35 closed

[2017-08-31 19:47] TobiGr commented on #35
This was faster than I thought. I think we can live with not disabling the scrollbar.

[2017-08-31 20:32] TheAssassin commented on #35
I'd call this a hack. But yes, works like a charm!

[2017-09-08 19:24] theScrabi commented on #5
@TobiGr @TheAssassin @mauriciocolli @coffeemakr @BlenderViking  as it seams we have to wait a little until they enable us as team member (an employe of Bountysource has to unlock us).
You guys can claim to be a team member [here](https://www.bountysource.com/teams/newpipe).

[2017-09-15 15:16] #8 closed

[2017-09-15 15:17] #9 closed

[2017-10-24 13:54] #5 closed

[2017-11-02 18:31] wb9688 opened #38 "Donation page: spelling error and confusing red word/link"
Could somebody do s/work the/work, they/ on [this page](https://newpipe.schabi.org/donate/)? On the same page under Thank you! the word free looks exactly the same as the link GitHub, which is a little bit confusing.

[2017-11-02 20:10] TobiGr commented on #38
@wb9688 What do you mean by _do s/work the/work, they/_? Should I only remove the highlighting of free or do you want me to do something else?

[2017-11-02 20:16] wb9688 commented on #38
It's a regular expression, which says 'work the' should be replaced with
'work, they'. See that sentence on the page and you'll see what I mean.

something else?
Not neccessarily, just think about it, I don't really have a suggestion for
it.

[2017-11-02 20:19] TheAssassin commented on #38
@TobiGr:

[code]

should be

[code]

Also, `an empty stomach` is not an English proverb, but interpreting by translating back to German, I'd use this wording:

See e.g., https://idioms.thefreedictionary.com/an+empty+sack+cannot+stand+upright for an explanation.

[2017-11-02 20:24] TobiGr commented on #38
@wb9688  Thanks. I didn't expected it to be a regex :)
@TheAssassin I'll change it.

[2017-11-02 20:27] #38 closed

[2017-11-23 21:40] TobiGr commented on #13
To get the website a little more forward I created a video. You need to [download ](
https://mega.nz/#!YWYxDRAS!KORLvgS9nCOuru9IURiLjmQKBWsR16D2izYVpXgzKTQ
)it. @theScrabi Can you have a look at it and tell me whether it is too fast or something important is missing?

[2017-11-26 11:13] theScrabi commented on #13
@TobiGr It's good, the only thing that is missing is the tab indicator which you can enable in the debug settings. It's sometimes hard to follow where you touched the screen.

[2017-11-26 11:29] TobiGr commented on #13
@theScrabi That's right. I'll do a new one over week. I thought about skipping the options in the download dialog to make the video a little shorter.

[2017-11-26 19:24] theScrabi commented on #13
Yes thats ok :)

[2017-12-07 12:44] TobiGr commented on #20
The blog is ready to use. I couldn't decide which design is better, so please take a look at the [master](https://github.com/TobiGr/NewPipe-Blog/tree/master) and [design](https://github.com/TobiGr/NewPipe-Blog/tree/design) branches and tell me what you like more.
The links on the right sidebar have no function right now, but will refer to any interesting posts once they are written.
And please cre

[2017-12-07 13:41] theScrabi commented on #20
I created the [repo](https://github.com/TeamNewPipe/BlogGenerator). @TobiGr you are admin.

[2017-12-07 13:45] TobiGr commented on #20
Thanks. I'll take care of the rest.

[2017-12-07 16:23] theScrabi commented on #20
thanks

[2017-12-07 17:52] TobiGr commented on #20
Me too. But please wait with that until the demo posts and links got removed and @theScrabi or someone else wrote a initial blog post.

[2017-12-07 17:57] TheAssassin commented on #20
Just write me a mail (and really, a mail, because I'm flooded with GitHub notifications atm), and I'll deploy stuff as you wish.

[2017-12-07 18:47] theScrabi commented on #20
Ok I'll write something.

[2017-12-15 15:47] TobiGr commented on #20
@theScrabi I've finshed my work on the blog. So we only need the initial blog post. And maybe we should disable the c33 post.

[2017-12-15 16:48] TheAssassin commented on #20
@theScrabi I recommend you to hurry up, too. If you want to, we can collaborate on a post. @TobiGr otherwise I'd write up something.

[2017-12-17 02:17] TheAssassin commented on #20
@TobiGr I am in the progress of setting up a comment system by the way. It's called [isso](https://posativ.org/isso/). Can you check whether how we can integrate it easily?

[2017-12-17 21:02] TobiGr commented on #20
@TheAssassin Yes, I got it running. I will do some testing whether I can restructure the comment output, to apply our design to the comments.

[2017-12-17 22:45] theScrabi commented on #20
@TobiGr @TheAssassin I red through the two posts in the pad, and I think they are good now.

[2017-12-17 23:37] TheAssassin commented on #20
@TobiGr I committed a Docker configuration for easy deployment. I will add the isso configuration to the docker-compose file eventually.

[2017-12-18 00:29] TheAssassin commented on #20
The look of the single blog posts is a bit too bright in my opinion, especially during mouse-over events. Could you make it look a bit more native? The rectangular shape with the really hard contrasts doesn't really match the rest of the website.

Also, I'd recommend to display the "Blog" entry in the top menu bar as "selected" when visiting the blog.

By the way, I hope you don't mind me editing

[2017-12-18 01:24] TheAssassin commented on #20
Somehow it seems like not all of the blog posts are rendered. I'll be investigating that tomorrow. I could imagine a multi-page layout, displaying most posts in the sidebar for quick access.

[2017-12-18 07:28] TobiGr commented on #20
@TheAssassin I can take a look at it too. I guess the dates of your posts weren't correct. I do not display posts which have not been "released" and were written in the "future".

[2017-12-18 10:48] TobiGr commented on #20
@TheAssassin I've checked and all posts are displayed. I saw you removed the pinned posts from the sidebar. The search input looks lonely now. We should add some links or text to it. Maybe we can pin the "Team NewPipe start blog" post.

[2017-12-18 13:13] TobiGr commented on #20
I took the two shades of grey which we also use at our main page. I can understand that they distinguish from each other a lot.
What do you think of [this](https://user-images.githubusercontent.com/17365767/34107404-6279eb6e-e3fc-11e7-8feb-40f91b688016.png)? I mixed both colors and changed the border color to white. The first post has the hover effect.

I'll do it.

That's a good idea.

[2017-12-18 13:23] TheAssassin commented on #20
The shadow looks a bit awkward.

[2017-12-18 13:31] TobiGr commented on #20
I'll remove it.

[2017-12-18 18:53] TobiGr commented on #20
@TheAssassin Comments will look like[ this](https://user-images.githubusercontent.com/17365767/34122518-fe75b608-e42c-11e7-8ef8-9bccfa496222.png). Are you fine with it?

[2017-12-18 19:31] TheAssassin commented on #20
Looks great!

[2017-12-18 22:02] TobiGr commented on #20
@TheAssassin I didn't add `isso.config`, that's something you have to do.

[2017-12-18 22:08] TheAssassin commented on #20
As said before, the deployment will be done via Docker. I am going to use https://hub.docker.com/r/sheogorath/isso-docker/, which is configured via `docker-compose.yml`. Don't worry, I'll set up everything correctly, once we're ready for deployment.

[2017-12-20 14:33] TheAssassin commented on #20
I will close the issue when everything is deployed.

[2017-12-23 14:32] #20 closed

[2017-12-23 15:09] theScrabi opened #40 "Make blog posts a little more well designed"
@TobiGr @TheAssassin the block looks awsome. I like it a lot!!!

However the blog posts could be made a little better. Maybe it was good to add a little design polecy on how to write these posts.
I asked a friend about a guide. He send me [this](https://www.chimpify.de/marketing/10-fehler-blog/), maybe it will help us.

Also I would like to have little images in the top right corner of every blog

[2017-12-23 15:24] TheAssassin commented on #40
You can't really compare this article with our type of blog, which is merely an informational instrument, providing mostly announcements, and not any content we'd like to make money of, as the article you linked to suggests.

[2017-12-23 15:27] theScrabi opened #41 "Can not run website with jekyll"
When I try to run the website with `~ $ jekyll serve` I get this error:
[code]
I run in on a current ubuntu installation (digitalocean), where only sass 3.4.21 is available.
@TheAssassin you said you use docker for this, how can I get your docer installation?
@TobiGr how did you setup the environment for development? On which distor are you running this?

[2017-12-23 15:38] TobiGr commented on #41
Please try to run `$ bundle install` in your directory. This should solve your problem. I'll add it to the readme.

[2017-12-23 15:45] theScrabi commented on #40
Well... I think I can. I mean think of the people who are going to read this. Who will they be? It will be the people who are going to visit our website, and want to know what is going on. If you present them only block text it would put off.

You can not just put block text on the internet these days, and expect many people to read it.
And as far as I see this we want people to read our blog, oth

[2017-12-23 15:47] TobiGr commented on #41
Sorry, I didn't realized this line.

https://github.com/TeamNewPipe/website/blob/fd01c237fa2c2c5933e95923cc49ba30415a10e5/Gemfile.lock#L43

It shouldn't cause problems when you change this line.

[2017-12-23 15:53] TheAssassin commented on #40
Did you even read the blog texts? The articles I wrote aren't "mere blocks" or anything like that. Instead of setting up some weird policies, just proofread the articles people contribute, and suggest changes. That's also was less likely to put someone off who's trying to contribute in my opinion. Not everyone's good at writing, and any kind of policy won't necessarily increase the quality of the

[2017-12-23 15:55] TheAssassin commented on #41
@theScrabi just get `docker-compose`, then run `docker-compose up --build -d`. You can reach the blog with a demo instance of isso on "http://127.0.0.1:8080". Just call docker-compose again to update your installation.

[2017-12-23 20:07] theScrabi commented on #41
all right thanks :)

[2017-12-23 20:07] #41 closed

[2017-12-23 20:17] theScrabi commented on #40
@TheAssassin

I don't want to put you off. I just say that we should try to stick to a good style when writing blog posts ;)

[2017-12-30 13:45] TobiGr commented on #10
As I've said before, I'd like to change the way we show NewPipe's features.
My idea is to make as many as possible features visible and immediately accessible (using the right sidebar). At the same time we have the possibility to interact with the user. E.g we can have a first "dialog" which shows some facts (fast, small, minimal battery usage, mobile data friendly or whatever) about the app. To e

[2018-01-09 15:26] TheAssassin commented on #3
@TobiGr are we still using that file? I don't think so, and think we can close this issue.

[2018-01-09 15:42] TobiGr commented on #3
We still use it, but I wanted to create a new. Unfortunately I forgot about it. See [#13](https://github.com/TeamNewPipe/website/issues/13#issuecomment-346700775) for my last try.

[2018-01-09 16:54] theScrabi commented on #3
We could upload your last try. It was not 100% perfect, but still better than what is online right now :)

[2018-01-09 17:00] TheAssassin commented on #3
@theScrabi the point of this issue is the copyright problem, not the look.

[2018-01-09 19:12] TobiGr commented on #3
I'll replace the old and create a better one when I have more time for it.

[2018-01-09 19:20] TheAssassin commented on #3
Thanks, @TobiGr.

[2018-01-09 20:59] #3 closed

[2018-02-04 08:35] TheAssassin commented on #10
@TobiGr I love it. And I'll check the issue.

[2018-02-04 08:52] theScrabi commented on #10
Yea its great :)

[2018-02-04 08:53] theScrabi commented on #10
@TheAssassin btw whats with the video should we host it? Or should I upload it to some service?

[2018-02-04 09:00] TheAssassin commented on #10
@theScrabi are you talking about the talk's video? Sure, I can host it, free/open services ftw. But as NewPipe is a YouTube app it might make sense to upload it there, too.

[2018-02-04 09:12] theScrabi commented on #10
Yea ... maybe although I hate youtube :/

[2018-02-04 09:15] TheAssassin commented on #10
@theScrabi I am not a fan of Google either, au contraire. That was more like a marketing idea.

@TobiGr I rebuilt the Docker container once again. Please check again. If it isn't working now, I'll have to dig a bit deeper.

[2018-02-04 09:35] theScrabi commented on #10
@TheAssassin I uploaded it to YT, but I also took it down again. I absoloutly don't like it, I'd rather like to host it on media ccc self hosted or even vimeo.

[2018-02-04 09:51] theScrabi commented on #10
We could put it on vimeo, or (and) host it on d.tube

[2018-02-04 11:58] TheAssassin commented on #10
@theScrabi I'd assume media.ccc.de would help spreading the video most.

For inclusion on the website, I can host it as well, no need to have any external service track users.

[2018-02-04 17:27] theScrabi commented on #10
All right :) Thats cool.

[2018-02-04 17:43] TobiGr commented on #10
We should write a blog post to tell people that there's a video.
@theScrabi Is it possible to pin https://github.com/TeamNewPipe/NewPipe/issues/935 to the top so more people visit our blog and read the posts? And that issue could also be a way to inform them about new posts.

@TheAssassin Thanks. The website is up to date.

[2018-02-04 17:53] theScrabi commented on #10
I think the best was to add a noticement to the app itself. Since we also want nondevs to read it.

[2018-02-04 19:04] TobiGr commented on #10
That's a good idea. I am working on the "What's New" dialog. When the app starts for the first time / after the update we can show a notice there. We could also try to add a notification for new blog posts.

[2018-02-04 19:07] TheAssassin commented on #10
@TobiGr do we have an RSS feed that could be used for such stuff? If not, please think about making Jekyll generate one or, even better, have it generate a JSON feed (by far easier to parse).

[2018-02-06 19:27] TobiGr commented on #10
@TheAssassin There are some plugins which can generate an RSS feed. But I'd rather implement a JSON generator too.

Btw. is there anybody with a 4k monitor out there? I think we should limit the website container and center it. Probably at more than 1800px. But I'd like to get some feedback first, because 4k displays can make trouble. 🙄

[2018-02-06 20:11] TheAssassin commented on #10
@TobiGr there are such generators available already. Check out https://github.com/AppImage/appimage.github.io/ for example. It provides a JSON feed of all AppImages it knows about.

[2018-02-06 20:12] wb9688 commented on #10
@TobiGr: I've 1440p, but that isn't enough, right?

[2018-02-06 20:13] TheAssassin commented on #10
@TobiGr well, actually, you should be able to add a rule to scale the website on huge screens. I think Bootstrap have a solution for this already.

[2018-02-09 00:24] theScrabi opened #43 "Add blog post for 34C3 video"
We need to eventually post the 34c3 video its almost 2 months now, and nothing happened yet. It's time this goes online otherwise all the work involved would have been for nothing ;)

[2018-02-09 11:39] TheAssassin commented on #43
Correct would be: "just over a month".

Working on it.

[2018-02-17 14:49] TheAssassin opened #48 "Menu inconsistency leading to wrong clicks"
On the main page, the menu is different than on other pages (the "Home" entry is missing, and it's aligned differently).

When browsing the page quickly, I often click on the wrong entry when switching between home page, blog and press entries.

I understand a "Home" entry isn't necessary on the home page, but think like this: Same goes for "Press" on the press page, and "Blog" on the blog page.

[2018-02-17 19:52] TobiGr commented on #48
Yes, I already noticed that.

I intended to fix this as soon as I am done with my exams, because it annoyed me too.

[2018-02-17 20:18] TobiGr commented on #43
We should add the slides to the website.

[2018-02-17 23:01] TheAssassin commented on #48
Thanks. It's not urgent at all. I just wanted to have it in the bug tracker.

[2018-02-24 12:52] #48 closed

[2018-02-24 13:03] TheAssassin commented on #48
Big thanks to you, @TobiGr. It works perfectly fine now. I'll deploy it asap.

[2018-02-26 21:03] TobiGr commented on #10
Bootstrap does that, that's right. I was a little unspecific. I meant, large screens. Our website has no limits for its width. I just checked it at university and I think it looks horrible xD

<hr>

As said in my last PR, I want to reduce the number of long texts and add more buttons. That's what I thought of. @theScrabi @TheAssassin and everyone else,  please tell me what you think.

# Quick info

[2018-02-28 14:38] theScrabi commented on #10
Btw could we close this thread and open up a new one, this one gets quite long.

[2018-02-28 16:07] TobiGr commented on #10
Yes, there are a lot of images here :smile:
I'll open a new o thread.

[2018-02-28 16:07] #10 closed

[2018-02-28 16:44] TobiGr opened #50 "Design and Concept"
Follow up of #10.

<hr>

@theScrabi @TheAssassin This needs some improvements, but overall, what do you think of the concept?
We could then also remove the slides `Lightweight`, `Open Source` and `Price/Free` and add them as separate tiles below / above multiple services.

![website_full_services](https://user-images.githubusercontent.com/17365767/36799819-547ccd70-1cae-11e8-98b2-8fc67717b7e2.png)

[2018-02-28 21:41] TheAssassin commented on #50
I would move the downloads to the bottom of the page, even below the "user voices" slideshow thing. That causes "potential customers" to actually read the website.

[2018-03-01 07:55] TobiGr commented on #50
Yeah, sounds reasonable.
I think we will need a different navigation bar for this "one-pager" too. Maybe something fixed to the right side of the page containing icons which expand to texts when you hover them. I could also imagine a "second" nav bar that fades in when the header isn't visible anymore.

[2018-03-01 08:03] TobiGr commented on #33
Should we open a thread in the main repository to ask people for their voices? I think that's a good way to get feedback about the latest features and we can refer to it later.

[2018-03-01 08:24] TheAssassin commented on #50
The page isn't long enough to need a navbar for vertical navigation in my opinion.

[2018-03-01 08:24] TheAssassin commented on #33
That topic really cries "please write a blog post!".

[2018-03-01 08:45] TobiGr commented on #33
:joy: Okay, I can do it. I hope some people are going to read it.

[2018-03-01 09:17] theScrabi commented on #33
Hopefully. I linked the blog in the New NewPipe beta.

[2018-03-01 09:18] theScrabi opened #51 "Blog as rss fed"
I know we aren't using a CMS, but was it still possible to offet our blog as an rss feed?

[2018-03-01 09:20] TobiGr commented on #51
Yes, I did test and it worked. Give me a week or so and I'll include everything needed.

[2018-03-01 12:04] TheAssassin commented on #51
Thanks @TobiGr.

[2018-03-01 12:05] TheAssassin commented on #33
@TobiGr @theScrabi if you want to, I can set up Piwik anonymizedly, but actually I'd prefer not to create stats.

[2018-03-01 13:40] TobiGr commented on #33
I don't like the idea either. And if we want to do it, I'd wait with Piwik at least until the app supports notifications for new blog posts. Or we could write something ourselves that only collects some basic data like country and time of the visit.

[2018-03-01 16:46] theScrabi commented on #51
Awesome :)

[2018-03-01 16:59] TobiGr commented on #51
@theScrabi Is that enough or do you need more information?
![newpipe - feed](https://user-images.githubusercontent.com/17365767/36857758-a7e36d72-1d79-11e8-9e06-20064d6f75b4.png)
[code]

[2018-03-01 17:02] TobiGr commented on #51
Btw we can also make a custom feed containing only the last post info or so. Just tell me what you need.

[2018-03-01 23:19] theScrabi commented on #51
Thats cool :D Are the thumbnails part of the feed?

[2018-03-01 23:20] TobiGr commented on #51
No, but I can figure something out to get them in.

[2018-03-02 14:03] TobiGr commented on #51
We can use the `<enclosure>` tag to get media information into the feed. As a result, we have to provide more information in `images.yml` to get a valid feed.
Which URI should the feed have? https://newpipe.schabi.org/rss/feed.xml for thte whole feed and https://newpipe.schabi.org/rss/latest.xml for the latest blog entry? Or do we only need the first one? Give me that info and a PR should be there

[2018-03-02 14:13] theScrabi commented on #51
Yes sounds good :)

[2018-03-02 18:13] TheAssassin commented on #51
I suggest `newpipe.schabi.org/feed/news.[rss|atom]`.
You probably noticed the `atom` part. I'd like to offer an Atom feed as well, if possible.

[2018-03-05 20:09] TobiGr opened #54 "Increase page loading"
With adding the new features view, I added a bunch of large images to the main page. When someone opens the website, he can only see a maximum of four graphics, but the browser loads 13 and the video. Furthermore the images got a little bigger...

This is quite annoying. And a fast page loading is important to Google and other search engines.

There are different methods to solve this problem:
###

[2018-03-05 20:11] TheAssassin commented on #54
Sounds good. You could try to reduce the quality of the pictures by using a lossy format with a higher than average compression factor, e.g. JPEG with a 75% quality setting.

[2018-03-06 21:33] TobiGr commented on #54
We should also prevent the mobile version to load all images, because they only get displayed in an "separate" view. I'll do this next week.

[2018-03-06 21:34] TheAssassin commented on #54
If the responsive layout doesn't show the images (`display: none` etc.), the pics aren't loaded IIRC. I think that can be fixed with just some CSS-fu.

[2018-03-06 21:54] TobiGr commented on #54
I just tested it with latest FF and Chromium but both loaded images no matter that either the image nor its container were hidden.

[2018-03-07 00:00] #51 closed

[2018-03-11 11:47] TobiGr commented on #50
Here are two screenshots I'd like to share with you.

[mobile version](https://user-images.githubusercontent.com/17365767/37252739-d637c524-2526-11e8-8166-abad510aa5a9.png)
[desktop version](https://user-images.githubusercontent.com/17365767/37252741-daa6734e-2526-11e8-9928-f6313fcf5589.png)

I won't add the multi services tiles to the next PR because some I do not have a good idea what to put in

[2018-03-11 12:16] TheAssassin commented on #50
Looks awesome! Great job, @TobiGr.

There's just a little issue with the word "OpenSource"... actually, it's "open-source" or "open source". But I'm sure @theScrabi would prefer "free software", "free and open source software" or "FLOSS" a.k.a. "free/libre open source software". I'd go for "free software", as it's the shortest option. It'd be great if you could fix that. Also, on the bottom of the

[2018-03-11 16:20] theScrabi commented on #50
"free and open source software" was god i think.
However the pannels for each service, what would you like to put into these?

[2018-03-11 17:06] TobiGr commented on #50
Can I skip the "software"?

@TheAssassin Do you mean the footer?

[2018-03-11 18:04] TheAssassin commented on #50
"bring NewPipe forward" and "support our developers".

[2018-03-11 20:48] TobiGr commented on #50
What would you like to change there? I think it is good to have lowercase words at the beginning and end. Both are not "complete" sentences and it looks good the way it is right now.
And which words would you like to highlight?

[2018-03-11 22:04] TheAssassin commented on #50
I would change the first words' casing to uppercase nevertheless. It's a style thing: these are not complete sentences, but they're independent "fragments", therefore it makes sense to have a "sentence-like" start. Imagine there was an exclamation mark in the end of these fragments, then they're imperative form sentences.

[2018-03-11 22:04] TheAssassin commented on #50
Re. highlight: I have no idea where you picked that up.

[2018-03-12 13:53] TobiGr commented on #50
I have changed this now, but it feels like the uppercase words draw the attention more to the words itself instead of the donate button.
That's what I meant with "highlight".

[2018-03-12 14:13] TheAssassin commented on #50
I don't think that's the case. @theScrabi I guess we need a third opinion.

[2018-03-12 14:31] theScrabi commented on #50
I don't think this is so important, however I like it lowercase :D

[2018-03-13 14:02] TheAssassin opened #59 "Uncaught TypeError: Cannot read property 'split' of undefined"
[code]

Just noticed this error after deploying the current state (merge of PR #58). I run Chromium Version 64.0.3282.167 on Ubuntu 16.04.

[2018-03-13 14:06] TobiGr commented on #59
api.stats.changelog doesn't exist yet. That's the reason. And what FF says :) First time I saw that FF has better debugging than Chromium...

[2018-03-13 14:06] TobiGr commented on #59
Fix in 066f2f055734c854bc34e0753e4b592ce27e1ddb

[2018-03-13 14:08] TheAssassin commented on #59
I see. Can you please request this feature in the web-api repo? I don't remember an issue about this.

[2018-03-13 14:10] TheAssassin commented on #59
[code]

You commented a bit too fast.

[2018-03-13 14:18] TobiGr commented on #59
The comment should've started one line above 😫

[2018-03-13 14:25] TheAssassin commented on #59
By the way, why are you using a synchronous request to query the API? I mean, you're using JQuery already anyway. You could simply use `$.get(...)` with a callback. Chromium shows warnings about it.

[2018-03-13 16:24] TobiGr commented on #59
Yes that's right. I can changed it. The reason I didn't do it, is - AFAIK -  that `$(document).ready()` functions are triggered asynchronously.

[2018-03-13 17:55] TheAssassin commented on #59
@TobiGr JavaScript code runs in a single thread. "Running asynchronously" doesn't mean it's run in another thread. The `$(document).ready()` callback is run in the same thread as well. Therefore, a synchronous request is always blocking this thread. If it's run asynchronously, the JavaScript interpreter will open the TCP port, send the request, and as soon as the JavaScript interpreter receives a

[2018-03-24 11:06] theScrabi opened #62 "More famous quotes on website"
We have quite some user quotes which is nice, and we should stick to it.

But we should also add quotes from online journals, blog, and famous people on the net.

Like here:

medium.mybridge: "NewPipe: A lightweight Youtube frontend for Android."
https://medium.mybridge.co/38-amazing-android-open-source-apps-java-1a62b7034c40

caschys blog:
https://stadt-bremerhaven.de/newpipe-erlaubt-das-abspiele

[2018-03-24 11:54] TheAssassin commented on #62
@theScrabi whether you need to buy an article or not doesn't matter for citing. The German "Urheberrecht" allows you to cite portions of the article if you follow a set of rules. Therefore, it's possible to quote the essential sentences.

[2018-03-24 11:56] TheAssassin commented on #62
@theScrabi you should check out the wiki related issue in the main repo where I compiled a list of references for a potential Wikipedia article. There should be a bunch of usable quotes in those.

[2018-03-24 23:52] TobiGr commented on #62
Yes I already wanted to do this, but I don't have enough time for it now. If anyone wants to do it, feel free to do so.
There are some technical things I'd like to do first (CSS parallax, CSS refactor and Jekyll cleanup) to make the code more understandable for others. They have been on my todo list for quite some time and because they'll need a bigger amount of time, I prefer to do these things n

[2018-03-30 22:43] TobiGr opened #65 "Set comment hints to English"
Our entire website is written in English, just as the comments should be too. Therefore I'd suggest to remove the isso translations. This would also make it easier to modify our isso version. E.g I added an information about what Markdown features are supported - in English. And that's obviously not what I'd expect when the complete commenting system is explained in my language.
Besides that, we g

[2018-03-30 23:16] TheAssassin commented on #65
@TobiGr I'm struggling with getting the Docker version of the latest isso play well with the main website.

Apparently we used the last release which was published like 2 years ago.

Other than that, I don't think we should remove the translations. I bet other systems like Disqus would show you everything in your language as well when logged in.

[2018-03-31 10:32] theScrabi commented on #65
I think it should be code of conduct of our blog to speak english. This way everyone can talk to everyone. Just like i wrote it in the CONTRIBUTING.md [here](https://github.com/TeamNewPipe/NewPipe/blob/dev/.github/CONTRIBUTING.md#issue-reportingfeature-requests)

[2018-03-31 11:26] TheAssassin commented on #65
@theScrabi sure, I don't argue with that. My point is that it doesn't make sense to remove the translations, at least not to me. I think people are smart enough to see that the blog is written in English. And just because controls are in English, it doesn't mean people will write in English only.

[2018-03-31 11:45] theScrabi commented on #65
Ah I get it, no I think the translations can remain, that would not make a difference xD

[2018-04-02 18:55] TobiGr commented on #65
Ok. Then we'll keep the translations 👍

[2018-04-02 18:55] #65 closed

[2018-04-10 18:53] TobiGr commented on #59
I think we can close this as it is fixed.

[2018-04-10 18:53] #59 closed

[2018-04-15 07:50] rugk commented on #54
Maybe also statically GZIp/Brotli compress the files, depending on how they are hosted…

[2018-04-15 07:51] rugk commented on #54
Also you do not use HTTP/2, this makes [a real performance difference](http://www.httpvshttps.com/).

[2018-04-15 07:55] rugk opened #68 "Buttons for sliders"
![grafik](https://user-images.githubusercontent.com/11966684/38776163-ebe3a4ec-4092-11e8-827f-c38ffa9e7fbc.png)

There should be buttons on the left/right I can use to click through the list.
Otherwise the small buttons are often hard to click.

[2018-04-15 08:35] TobiGr commented on #54
Yes, we definitely have to use GZip. @TheAssassin When you have time, can you please take a look at it.

I also thought about merging some of the JS scripts to reduce the number of requests. But my time is quite limited right now, so I can only focus on design improvements and new features or optimizations.
In other words: help is always welcome :)

[2018-04-15 08:39] TobiGr commented on #68
The reason I disabled them is that they looked a little lost. I can imagine to display them when hovering the box. I'll need to take a closer look on what to do with smaller screens/mobiles.

[2018-04-15 08:48] TobiGr opened #69 "FAQ page"
As already discussed before we need a place to explain features a little further. We collected some potential Q&As and tutorials in TeamNewPipe/NewPipe#1316:

- how to open up the background player queue from notification (though this should be part of the tutorial)
- downloading on sdcard is not functional and is in the works right now
- what's new / feed is currently experimental and is in the w

[2018-04-15 10:13] #68 closed

[2018-04-15 11:43] rugk opened #70 "Sliders should support swipe"
Follow-up of https://github.com/TeamNewPipe/website/issues/68#issuecomment-381389994

On mobile (or rather, all devices, because desktop/laptops also often have touch) you should support swiping through the sliders/quotes list

[2018-04-15 11:45] rugk commented on #54
This is unnecessary when you set up HTTP/2. Then often many small files even load faster than one big file.

[2018-04-15 12:32] TheAssassin commented on #54
Unfortunately, some other websites I maintain cannot support it yet. Believe it or not, but some outdated distros and some outdated other OSes don't support it, even with a modern browser. Every time I tried to activate it secretly, those people started complaining.

nginx should auto-compress the files already on the fly, by the way.

[2018-04-15 12:35] TobiGr commented on #70
Fixed in 35ee06723a6e06cae35973d7116d21763197c65d and f3969af248c17acd9478f3a14187423f75a2fe40.

[2018-04-15 12:35] #70 closed

[2018-04-15 12:59] TheAssassin commented on #69
Great idea. Thanks for taking care of this, @TobiGr.

[2018-04-15 13:00] TheAssassin commented on #70
Good idea, @rugk. Looking forward to testing it, @TobiGr. I'll deploy the changes immediately.

[2018-04-15 13:07] rugk commented on #70
Great, it works!

[2018-04-15 13:12] rugk commented on #54
HTTP/2 is backwards compatible, so when the client does not support it, it should fall back to HTTP 2.

Also, AFAIK `http2` can be configured per domain in nginx, so if needed just only enable it for this sitr.

The only thing, which may be outdated is the server software. :wink:

[2018-04-15 14:58] TheAssassin commented on #54
That's unfortunately not possible. One can configure it per _port_, but not per domain. This is due to a technical restriction in the HTTP/2 protocol. If there was something like SNI (which allows per-domain certs in TLS), then this might be possible.

The main problem is an TLS protocol version issue. HTTP/2 supports only a couple of TLS configurations. If outdated clients access the page, they g

[2018-04-15 21:35] rugk commented on #54
Likely not. Never heard such a thing. Your TLS config should anyway not be outdated, but that's another point.

Don't do it. :wink:
Basically, maybe that Newpipe site needs to be decoupled from that legacy stuff if that support is needed.

[2018-04-15 21:45] TheAssassin commented on #54
HTTP/2 doesn't permit some known-insecure (but not critically insecure) TLS configurations. Those are of course not the defaults. Those other people I mentioned did find issues on older Linux distros (and some other OSes, I don't have the list at hand, though).

Sure. Pay me monies, and I'll get more infrastructure.

No, seriously: I will consider upgrading to HTTP/2 again. I don't like to break O

[2018-04-15 21:48] rugk commented on #54
Can you provide a reference for that? I'd still only say, that it just requires HTTPS.

[2018-04-15 21:49] TheAssassin commented on #54
I'll try to find it again in my huge rubbish heap of links.

[2018-04-16 18:42] TobiGr commented on #69
I added some more interesting points and put them into categories. Does the grouping make sense to you? Should any items be removed? @theScrabi @TheAssassin @karyogamy @mauriciocolli @wb9688
Some things appear twice on the list which is not perfect, but I personally would search for them in both categories.

## Player

### Player handling

-    Switch between players
-    Resize popup
-    Close p

[2018-04-21 17:36] TobiGr commented on #69
I basically planned two different page types:

**a) The FAQ & Tutorials landing page**
From here you can get to one of the three sub-sites. I think a search could be helpful too.

![getimage 1](https://user-images.githubusercontent.com/17365767/39086964-60db80c0-4599-11e8-9fa5-3f2048ec69f2.png)

 **b) The sub-sites with the tutorials**
Initially the texts should be collapsed to offer a clean UI.

[2018-04-21 17:39] theScrabi commented on #69
I like the second one.

Joy it :D We get fried like egs in the pan down here in Spain.

[2018-04-21 18:01] karyogamy commented on #69
Looks awesome =D

[2018-04-21 19:11] TheAssassin commented on #69
Great work as usual.

[2018-04-25 07:10] dompetpoker182 commented on #43
very interesting article, thanks for the information
https://www.dynadot.com/community/blog/radix-choosing-domain-extension-guide-new-business.html
http://dompetpoker.net/
http://dompetcasino.com/

[2018-04-25 12:05] #43 closed

[2018-05-08 15:53] TobiGr commented on #54
I just found [compress.html](http://jch.penibelst.de/). In a small test it reduced the size of all HTML files from 430kB to 329,4kB. Just by removing white spaces on our main page, it shrink from 40.5kB to 23,5kB.

I'm not sure whether we should minimize everything, but the [Jekyll Assets plugin](https://github.com/envygeeks/jekyll-assets) sounds also promising. It can compress JS, CSS and images.

[2018-05-08 15:58] TheAssassin commented on #54
@TobiGr I don't think it'll make a huge difference. With the gzip compression the nginx server applies to the HTTP stream whitespace shouldn't be an issue. It'd only increase efficiency by removing stuff like comments etc., or unused/unnecessary tags.

Compressing our JavaScript and CSS code makes sense, too. If it isn't too much work for you, we could use this.

Although, to be honest, we can jus

[2018-05-08 20:43] TobiGr commented on #54
That happens too.

Yes, I'd prefer this, feel free to do this, when you find time for it.

[2018-05-08 21:06] TheAssassin commented on #54
Sure thing. Do you have suggestions?

[2018-05-10 20:17] TobiGr commented on #54
Which tools did you use?

[2018-05-10 20:58] TheAssassin commented on #54
The common ones, like e.g., https://github.com/mishoo/UglifyJS. I don't recall what I used for CSS, though.

[2018-05-12 12:35] TobiGr commented on #54
I've worked with UglifyJS too, so this sounds good to me. What do you think of https://github.com/ben-eb/cssnano and https://github.com/css/csso?

[2018-05-12 12:52] TheAssassin commented on #54
I don't think there's a big difference between both tools. I'd prefer the one with less dependencies, so that the container build isn't slowed down too much.

[2018-05-21 03:40] TheAssassin opened #73 "Guidelines to handling published posts"
In some cases, it might be needed to change an already published post. This issue contains some guidelines created from empirical knowledge.

### Motivation

It recently happened that the URL to a blog post was changed as it was removed from a blog post. This was done in order to "unpin" it (which didn't work by the way, CC @TobiGr). The problem with this was that by unpinning it, the blog post wa

[2018-05-21 10:55] TobiGr commented on #73
I'll take a look into this. There should be a solution. Which version of isso is runnig on your server? Were you able to use our custom version from [TeamNewPipe/isso](https://github.com/TeamNewPipe/isso)? If yes, we should rebase it since there are some interesting changes.

Since we set the permalinks in `config.yml`, we can only change the URLs of all posts at once. (It is possible to set perma

[2018-05-21 13:12] TheAssassin commented on #73
@TobiGr found a solution, see https://jekyllrb.com/docs/permalinks/. We could change the default URL template `/:categories/:year/:month/:day/:title:output_ext` to `/:year/:month/:day/:title:output_ext` for instance.

I already mentioned that once we have proper permalinks, I will edit the URLs by hand in the isso database. See also the rest of the guidelines.

If we violate any law, we need to ch

[2018-05-29 18:03] TobiGr commented on #50
@TheAssassin @theScrabi We need a new footer to include the privacy link. Just adding it to the list looked strange.
That's what I've got. Do you have any other suggestions?
![bildschirmfoto vom 2018-05-29 um 17 58 39](https://user-images.githubusercontent.com/17365767/40676442-0e528998-637b-11e8-9898-8c1ae67f79c2.png)

[2018-05-30 06:57] theScrabi commented on #50
It does not, I kind of like it. @TheAssassin what do you say?

[2018-05-30 17:23] TheAssassin commented on #50
I think it's okay, too. But if you want to, we could combine both Licensing and Privacy Policy to a Legal button, and create a Legal page linking to such documents. Then future pages can just be added to that page.

[2018-05-30 19:37] TobiGr commented on #50
@theAssassin That sounds like a good idea. I'm in Berlin for a couple of days. Await my PR within the next week.

[2018-05-30 20:06] TheAssassin commented on #50
Thanks. And have fun in Berlin!

[2018-05-30 21:40] theScrabi commented on #50
Visit C-Base or the ccc hacerspace if you are there :D

[2018-06-26 19:36] Rubbix opened #75 "Typo error !"
https://prnt.sc/jzp16j

[2018-06-26 19:45] TheAssassin commented on #75
Feel free to send a PR.

[2018-06-26 19:55] TobiGr commented on #75
Good catch. Thank you!

[2018-06-28 01:49] #75 closed

[2018-07-30 21:10] TheAssassin opened #80 "Integrate current Git commit ID in footer"
I'd like to have the current Git commit ID somewhere on the page, ideally in the footer. This way, it's transparent to everyone what's been deployed. We could even make it a link back to the repo on GitHub.

[2018-07-30 21:37] TobiGr commented on #80
Good idea. The guys over at F-Droid do the same. I guess [this merge request](https://gitlab.com/fdroid/fdroid-website/merge_requests/97) will help.

[2018-07-30 22:14] TheAssassin commented on #80
Embedding the contents of `git rev-parse --short HEAD` should do the job.

[2018-08-06 15:16] TobiGr commented on #80
I can't find a good position. Where do you want to place it? Next to the `Copyright © NewPipe` or somewhere else?

[2018-08-06 20:17] TheAssassin commented on #80
@TobiGr copyright seems fine to me. The readthedocs.org Sphinx theme does that, too. Check out https://docs.appimage.org/.

[2018-08-14 08:55] BO41 opened #82 "add open graph tags"
it would be nice to add [open graph](ogp.me) tags to the page, so that sharing a link on pages and programs gives a nice preview of the page.
the basic tags look like this

[code]

[2018-08-14 08:58] BO41 opened #83 "Enable text compression"
Uncompressed resource URL | Original | GZIP Savings
-- | -- | --
…css/bootstrap.min.css(newpipe.schabi.org) | 118 KB | 99 KB
/js/jquery.min.js(newpipe.schabi.org) | 84 KB | 54 KB
…js/bootstrap.min.js(newpipe.schabi.org) | 36 KB | 27 KB
…css/font-awesome.min.css(newpipe.schabi.org) | 30 KB | 23 KB
/css/style.css(newpipe.schabi.org) | 27 KB | 22 KB
/js/features.js(newpipe.schabi.org) | 6 KB | 4 KB
/

[2018-08-14 08:59] BO41 opened #84 "Uses efficient cache policy on static assets"
https://developers.google.com/web/tools/lighthouse/audits/cache-policy

URL | Cache TTL | Size (KB)
-- | -- | --
…css/bootstrap.min.css(newpipe.schabi.org) | None | 119 KB
…screenshots/shot_05.png(newpipe.schabi.org) | None | 90 KB
/js/jquery.min.js(newpipe.schabi.org) | None | 84 KB
…fonts/fontawesome-webfont.woff2?v=4.7.0(newpipe.schabi.org) | None | 76 KB
…screenshots/shot_10.png(newpipe.schabi

[2018-08-14 09:00] BO41 opened #85 "add alt attribute to images"
image elements do not have alt attributes

https://dequeuniversity.com/rules/axe/2.2/image-alt?application=lighthouse

[2018-08-14 09:02] BO41 opened #86 "Includes front-end JavaScript libraries with known security vulnerabilities"
Library Version | Vulnerability Count | Highest Severity
-- | -- | --
Bootstrap@3.3.7 | 1 | Medium
jQuery@2.2.2 | 1 | Medium

[2018-08-14 09:04] BO41 opened #87 "add a good description"
many pages do use the same description or don't have any at all

[2018-08-14 22:30] TheAssassin commented on #85
PRs welcome.

[2018-08-14 22:32] TheAssassin commented on #83
Our server compresses files on the fly. This would just move the compression from the server to the Jekyll build process. Nothing to fix here, IMO.

[2018-08-14 22:32] #83 closed

[2018-08-14 22:33] TheAssassin commented on #82
PRs welcome.

[2018-08-15 09:28] BO41 commented on #86
@TheAssassin so you would be fine with upgrading?
This could mean changing some of the code, because of possible breaking changes.

But I did not look into it yet. But I will

[2018-08-15 12:30] TheAssassin commented on #86
@BO41 it shouldn't break the website IMO. And @TobiGr will review it anyway before we're going to merge it.

[2018-08-15 19:57] BO41 opened #88 "code question"
are the css files in `/css` used?
and are they minified before sending to the user?

Because `/css/blog.css` for example looks horrible and should be refactored.
Do you see this as an issue too?

- inconsistent spacing
- multiple media Queries with the same selector
- comments
- typos
- not optimized styles
- duplicate  definitions
- many floats and `!important`s
[code]

[2018-08-15 20:09] TheAssassin commented on #88
If you feel something can be improved please feel free to send a PR.

[2018-08-15 20:32] TobiGr commented on #88
@BO41 I wanted to use SCSS in the future. the blog stylesheet is horrible because I developed the blog in a separate repository and then merged it into this one. Given the short amount of time I had left before releasing the blog, I did this without optimizing the structures and styles.
When I made changes to styles which were not only used in the blog, but also in other parts of the project later

[2018-08-15 20:32] BO41 commented on #86
@TheAssassin I tried updating bootstrap with `gem install bootstrap -v 4.1.3` like https://getbootstrap.com/docs/4.1/getting-started/download/ recommends, but it does not change anything. Can you please help me :)

[2018-08-15 20:33] BO41 commented on #86
or did you not install bootstrap via gem?

[2018-08-15 20:34] TobiGr commented on #86
No, we included it locally. https://github.com/TeamNewPipe/website/tree/master/bootstrap

[2018-08-15 20:36] BO41 commented on #88
@TobiGr ah okay. this explains a lot.
Good plans you have.
But unfortunately  I don't know any scss. So I would not be any help

[2018-08-15 20:46] BO41 commented on #86
@TheAssassin just updating the `bootstrap.min.css` and `bootstrap.min.js` really breaks everything.
I guess there is a reason long lists with breaking changes exist:
- http://upgrade-bootstrap.bootply.com/
- https://gitlab.com/gitlab-org/gitlab-ce/issues/45185

so, still want to update from 3.3.7 to 4.1?
Or just leave it as it is?

[2018-08-15 21:10] TheAssassin commented on #86
@BO41 I never said updating to the next _major_ version is viable, but we could've updated to 3.3.7 for instance.

[2018-08-15 21:46] BO41 commented on #86
@TheAssassin I don't know where to get this version and if it is really better.
Maybe just close this issue and leave everything as it is.

[2018-08-15 21:56] TheAssassin commented on #86
I guess there's no issue unless we start to believe there is. Thanks for your suggestion anyway.

[2018-08-15 21:56] #86 closed

[2018-08-15 21:56] TobiGr commented on #86
No. I think we should update, but this needs some time.

[2018-08-15 22:01] TheAssassin commented on #86
@BO41 can you provide us where you got this "vulnerability report" from? The question is always what kind of vulnerability we're talking about, and if we are affected. Updating just for the sake of updating doesn't make sense.

[2018-08-16 09:09] BO41 commented on #86
@TheAssassin @TobiGr  sure:
I used the google [lighthouse](https://developers.google.com/web/tools/lighthouse/) report tool.
It recommends updating or removing the library: https://developers.google.com/web/tools/lighthouse/audits/vulnerabilities

- bootstrap: https://snyk.io/vuln/npm:bootstrap?lh@3.3.7
- jquery: https://snyk.io/vuln/npm:jquery?lh@2.2.2

I just copied the report, I don't know how

[2018-08-16 10:19] TheAssassin commented on #86
@BO41 just a tip for next time, please provide such information right away.

[2018-08-22 20:30] BO41 commented on #88
solved with merge of  #91

[2018-08-22 20:30] #88 closed

[2018-08-26 21:04] #85 closed

[2018-09-07 23:02] TheAssassin opened #96 "Add review to donation page"
A friendly user showed up on IRC recently to request some support, and liked what we did. He donated a few dollars, and sent us the following statement:

Before you ask: yes, he is really a reverend.

I think that review best fits on our donation page, not the homepage.
@TobiGr can you suggest a place where to put it, please?

P.S.: Thanks for the kind words. Reverend Ben.

[2018-09-08 13:21] theScrabi opened #97 "Add blog post for YouTube Armageddon."
@TobiGr  It was a good idea to create a blogpost about what happened yesterday, so the users will know that v0.14.1 fixed the issue.

[2018-09-08 13:30] TobiGr commented on #97
Yes. Am I right assuming this was caused by an update of YouTube's web video player JS?

[2018-09-08 13:32] theScrabi commented on #96
+1 :D

[2018-09-08 13:33] theScrabi commented on #97
Yes

[2018-09-08 15:56] #97 closed

[2018-09-11 18:05] TheAssassin opened #99 "Custom 404 page"
Right now, if we'd change a URL (e.g., by accident), we'd end up with an nginx-generated 404 page. That's not very user friendly, as a user couldn't even navigate to a non-404 page, or look for the right URL.

@TobiGr if you have some time, I would love to see a custom 404 page that employs our main page's design, including the top menu.

[2018-09-11 18:17] TobiGr commented on #99
https://github.com/TeamNewPipe/website/blob/master/press/404.html
https://github.com/TeamNewPipe/website/blob/master/blog/404.html
They stopped working as I merged my blog repo into the normal website repository. Can you checkout https://jekyllrb.com/tutorials/custom-404-page/#hosting-on-nginx-server to get the nginx config right?
Apart from that I'll look into a good design for a general 404 page

[2018-09-12 15:10] TheAssassin commented on #99
JFYI: the error pages have been set up for blog and press. See https://github.com/TeamNewPipe/website/commit/2af4a7e00cc5f718a5a552d3880f3421478bfdda.

[2018-09-17 18:39] #80 closed

[2018-09-17 18:43] TheAssassin commented on #80
Thanks! Deploying in a minute.

[2018-09-20 17:11] TobiGr commented on #80
These changes were stashed for quite a while :) I forgot to commit and push them 😄
Unfortunately, I cannot get Docker to work with the latest changes properly. Using `COPY .git .git` ends in an issue telling me the file/directory does not exist. I used `rm` and `rmi` and the usual stuff to reset the environment completely, but the issue still exists.
Do you think it might be a problem that the `.g

[2018-10-14 23:48] saderror256 opened #100 "Pre-Made FAQ Draft Posts"
Well after literally an hour of struggling to put ruby on rails on my web server, i eventually just gave up and decided the type the draft that you guys can add for some FAQ posts, sorry for adding extra work

**{begin Enable Auto Play}**
To enable Auto Play, First Click the three dots in the top right and select **settings**, you should see a menu, now select **Content**, you will see *Auto-queue

[2018-10-14 23:54] saderror256 commented on #62
Here is my review of it:

*"Stable, Fast, Lightweight, and also supports multiple services as well, I use it to listen to music as it includes a background player"*

[2018-10-14 23:55] saderror256 commented on #62
Also, if you need more public user reviews, https://alternativeto.net/software/newpipe/reviews/

[2018-10-16 14:49] TobiGr commented on #100
Awesome 👍
Ruby can drive one crazy, yeah... If you want to implement the posts yourself, I can help you with Ruby. Otherwise, I'll be happy to do some copy-paste, too :D

The website is not up-to-date with the latest changes from here. We already have an auto-play tutorial, but the links are broken. You can find it [here](https://newpipe.schabi.org/FAQ/tutorials/player-enable-autoplay.html) until

[2018-10-16 15:06] TobiGr commented on #100
I think this was changed to "Bookmarked Playlists" in https://github.com/TeamNewPipe/NewPipe/pull/1773

[2018-10-16 15:19] TheAssassin commented on #100
@TobiGr oh I didn't realize I have to redeploy. Sorry for the delay. Please feel free to bombard me with mails next time.

[2018-10-16 16:32] saderror256 commented on #100
@TobiGr Thanks, Well unless you want to do it earlier before thursday or so, you will have to copy-paste it yourself, because I am on a so-and-so vacation and currently cannot setup my raspberry pi with a fresh server so i can test it out (I did attempt it on my public server since im getting a new provider in like a month, but it screwed up my phpmyadmin setup so i didn't risk it), so around thur

[2018-10-19 12:33] princekelly1 commented on #69
Am planning on writing, the FAQ in this way.
* Getting started on Newpipe
This will consist of the following.
Description of the app's homepage features, briefly. And picking each category for further explanations

[2018-10-19 12:37] princekelly1 commented on #69
I will send a document, once I compile the ideas.

[2018-10-19 13:49] theScrabi opened #102 "last stable version in presskit outdated"
In the presscit section on the website its written that 0.11.5 is the last stable version.
However it will soon be 0.14.2:

![bildschirmfoto vom 2018-10-19 15-48-01](https://user-images.githubusercontent.com/1891273/47222247-7f6a9480-d3b6-11e8-98b9-596e9d8b0a35.png)

[2018-10-19 16:10] TheAssassin commented on #102
Cannot reproduce:
[code]

You disabled JavaScript it seems, as that is the fallback value (as in, if JavaScript doesn't work, that value is left unmodified).

Check out https://github.com/TeamNewPipe/website/blob/master/press/index.html#L19.

[2018-10-19 16:10] #102 closed

[2018-10-19 20:07] TheAssassin commented on #102
@TobiGr what about renaming these "defaults" to "please enable JavaScript to ..."?

[2018-10-20 05:55] princekelly1 commented on #69
Below, I have made a draft suitable for use on the project's github profile. Which can easily be adapted to the app's website.
If you like this draft. I will keep working on the template i created.
I await your reply.

# New Pipe FAQs
## What is New pipe
Newpipe is a lightweight Youtube frontend, created for users to enjoy the original Youtube experience on their mobile device, without annoying ad

[2018-10-23 09:36] TobiGr commented on #69
@princekelly1 Thanks for writing some new FAQs. 👍 The subscriptions tutorial is really helpful. I'll implement it soon after the new app release. I'd like to change the trending FAQ a bit to start a new collection for the getting started page.

@TheAssassin @theScrabi @princekelly1 @saderror256 This is how I'd like to include and announce the FAQ page on the home page. Is there something missing w

[2018-10-23 09:47] TobiGr commented on #100
@saderror256 I went through your drafts. They look awesome. There are some smaller things, we should change tho.

The popup tutorial looks great! We do not need any changes here. Good job!

Since NewPipe v0.14.2 you can order, add and delete the tabs on the main screen. Therefore, we need to change this. Any suggestions?

We've decided to make some changes to the autoplay feature. As you can see i

[2018-10-23 10:54] princekelly1 commented on #69
My pleasure.
Import subscription should be displayed in the tutorial box.

[2018-10-23 10:56] princekelly1 commented on #69
I can create a tutorial on how to **enable unknown source" to install the app.

[2018-10-23 18:01] princekelly1 commented on #69
# How to enable the unknown source to install NewPipe on your device

**First method**: Open your device settings. Then locate and open **security settings**, you should see an option **Unknown sources**. Activate it to allow installation of apps from unknown sources. Then you can download your Newpipe app and install successfully on your device.

**Second Method**: If you have downloaded the Newp

[2018-11-19 15:51] buraksahin59 commented on #86
@BO41  I changed my jquery version with jQuery 3.3.1 ( https://code.jquery.com/jquery-3.3.1.min.js ), and It solved my problem.

[2019-01-13 12:15] theScrabi opened #104 "add Link to documentatoin"
The [documentation](https://teamnewpipe.github.io/documentation/7) is not perfect, but better then nothing.
I would like to add a link to it onto the website. Right besides the the `FAQ (beta)` link. The link for the moment should be called `Documentation (Alpha)`.

[2019-01-13 12:18] theScrabi opened #105 "update jekyll to 3.7.4"
Github notified us about [CVE-2018-17567](https://nvd.nist.gov/vuln/detail/CVE-2018-17567). Thus jekyll should be updated to version 3.7.4:
https://github.com/TeamNewPipe/website/network/alert/Gemfile.lock/jekyll/open

[2019-01-13 14:16] TobiGr commented on #104
Why do you want to add an (Alpha) badge? Why do not call it beta as well?
I get the point that the docs are far from being perfect and complete but I wouldn't make a difference between beta and alpha. Alpha and beta might confuse users which see the link and prevent them from clicking on it.

[2019-01-13 14:54] theScrabi commented on #104
I see, then lets write beta on it.

[2019-01-14 13:16] TheAssassin commented on #105
@TobiGr shall we upgrade to this bugfix release, or can we upgrade further?

[2019-01-14 13:52] TobiGr commented on #105
That's what I wanted to check out. For some reason, I put Gemfile and Gemfile.lock into the .gitignore file and upgraded to Jekyll 3.8.4 locally some time ago. I didn't have any problems. Nevertheless, I'd suggest to go through the changelogs. My plan was to do this next weekend, but if you want to do this now, feel free to do so :)

[2019-01-14 14:00] TheAssassin commented on #105
There's no rush. I've had a look at the CVE before @theScrabi created the issue, and we're not directly vulnerable. Please feel free to take your time and evaluate the options.

[2019-01-15 21:57] #105 closed

[2019-02-08 03:25] TobiGr commented on #50
Our blog looks like 💩 atm.

I won't have time to implement this now, but I made some quick drafts for a lighter and more user-friendly design. I tried to stick to the tiles like layout we use on the other sites.

@TheAssassin @theScrabi @ponypower Any ideas/thoughts on this?

[blog main page](https://user-images.githubusercontent.com/17365767/52457087-55510400-2b58-11e9-9f42-65854b1360c5.png)
[blo

[2019-02-09 00:33] TheAssassin commented on #50
Generally looks good to me. I like the new style much more than the current one.

The mix of shadow for nav/bottom bar and no shadow for the main element is a bit inconsistent (half flat, half "3D"). I think it might be nice to introduce a little shadow for the main element, too, or just drop all shadows like on the second picture (flat designs are still more popular than shadowed ones, aren't the

[2019-02-09 13:04] TobiGr commented on #50
I just took the working website and modified it in the browser. So yes, this design isn't finished yet and still needs to be implemented properly. E.g. I didn't take a look at the correct container width and heights, shadows, etc. I just removed things when I came across them. I guess, I'll remove the shadows completely.

[2019-02-10 02:36] TheAssassin commented on #50
Ah, okay. I already saw that this wasn't implemented in #111 yet, but my assumption was it wasn't committed yet. Looking forward to it!

[2019-02-10 11:39] TobiGr commented on #50
Btw. what do you think of creating thumbnails with the current NewPipe version? We used the same thumbnail for a dozen posts. The new thumbnails could be in the style of the old NewPipe beta icon, but insteat of the "BETA" we can insert the version number. This could be done for the old posts as well without much effort. Another advantage: when linking the posts on "social" media or other platform

[2019-02-20 13:16] #104 closed

[2019-02-23 14:47] ArtfulAbyss opened #113 "Playlists shown on channels"
I have a lot of playlists that I like that don't come up on the search engine no matter what I try looking up. I suggest that being able to see the playlists that a user has made on their channel. It would make searching for playlists much easier. Thank you! <3

[2019-02-23 15:04] TheAssassin commented on #113
This should probably go into the main NewPipe repository, shouldn't it, @ArtfulAbyss? I can transfer the issue if that's the case.

[2019-02-23 18:16] TobiGr commented on #113
Yep, this should be moved to the app repository. But it's a duplicate of https://github.com/TeamNewPipe/NewPipe/issues/1030
Therefore I'll close this ticket.

[2019-02-23 18:16] #113 closed

[2019-02-23 19:13] TheAssassin commented on #113
Thanks for confirming. Let's still transfer this one so it's in the right spot.

[2019-03-03 19:58] theScrabi opened #117 "blogpost for newpipe legecy"
There is some confusion going on right now about newpipe legecy. I think the fdroid description about the legecy app should be updated, but also a blogpost about it would help.

[2019-03-04 19:33] #40 closed

[2019-03-04 22:48] TheAssassin opened #118 "Apply new blog theme to "announcements" on the press page"
See https://newpipe.schabi.org/press/announcements/. Still using the old style. The new style should be used there, too, as it's much nicer.

Also, we should make sure all announcement posts really carry the right tag, I miss a few posts on that page.

We might also just drop the page and link to the Blog.

[2019-03-05 16:55] TobiGr commented on #118
I prefer to remove the page.
Which posts would you like to label as announcement?

[2019-03-05 22:39] TheAssassin commented on #118
If we remove it anyway, then that's not an issue any more really.

[2019-03-06 09:11] TobiGr commented on #118
Good. I'll take care of it 👍

[2019-03-12 22:50] #118 closed

[2019-03-12 22:57] TheAssassin commented on #118
Thanks. Pushed the "deploy-our-website-asap" button.

[2019-04-02 14:43] manoelnascimento commented on #69
If you accept a suggestion, I think there should be a page to deal with application errors. In my case, for example, the application always failed to import YouTube subscription files. With SondCloud it works fine, but with YouTube the import always gives error messages. I tried to research something on the subject, but there does not seem to be anything available on the internet that deals with s

[2019-06-06 14:07] RockyJE opened #120 "Grammar Suggestions [English]"
[ORIGINAL] Do you like watching videos on YouTube
but looking for a simple app to do that?

[SUGGESTED] Do you like watching videos on YouTube
but **are** looking for a simple app to do that?
..........
[ORIGINAL] Your donation cover a majority our costs

[SUGGESTED] Your donation**s** cover a majority **of** our costs
..........
[ORIGINAL] We would like to offer you some ways you can support our

[2019-06-08 22:27] TheAssassin commented on #120
Looks good. Mind to send a PR?

[2019-06-09 14:02] RockyJE commented on #120
What is a PR?

rje

Sat Jun 08 15:27:54 PDT 2019 TheAssassin <notifications@github.com>:

[2019-06-09 14:03] TheAssassin commented on #120
https://help.github.com/en/articles/about-pull-requests

[2019-07-05 11:52] #120 closed

[2019-07-08 03:45] Basti1512 commented on #50
It would be great to have the option to sort the new videos section by time and date (not the latest video of each channel sorted by the channel names).

[2019-07-09 14:33] theScrabi commented on #50
Wrong thread.

[2019-08-05 11:44] 101118496 opened #122 "Can't import subscriptions on Android Q Beta 5"
Location defaults to storage/emulated/0 but all the directories are completely empty.
Best of luck, love your work :)

[2019-08-05 13:12] TheAssassin commented on #122
This is the wrong place, moving it to the NewPipe repository.

[2019-08-16 13:57] alittlebitofit opened #123 "Rename Playlist, Up (or back) Navigation, Background Player controls"
1) It would be nice to rename any given playlist of your own or the ones you bookmarked.

2) Plus, when I open a video from the playlist and then press up button (not system's back button) to navigate back to the playlist, it takes me to the bookmarks. Although pressing the system's back button takes me back to the playlist. Was this intentional? Because I am used to up button for back navigation.

[2019-08-18 21:12] Stypox commented on #123
1. You can rename local playlists by tapping on the name. You can create a local playlist from a remote one by playing it in background and then converting the background queue to a playlist.
2. This is intentional and follows Material guidelines
3. Open an issue on https://github.com/TeamNewPipe/NewPipe

[2019-08-18 21:12] TheAssassin commented on #123
Let me transfer it there @Stypox.

[2019-09-24 21:29] rugk commented on #69
BTW remember that this "unknown sources" handling changed with Android 9 (or Android 8?). This needs to be accounted for in the FAQ.

[2019-09-29 16:16] android1973 opened #124 "Background Player Stops"
Everytime I hear music in the background, and play a game in the forderground
at the moment I start to show a commercial in a game the player stops !!!!
Very dislike that.

Grets
Paul

[2019-11-18 23:23] TheAssassin opened #125 "Searching for new website authors, editors and developers"
As you might've noticed, our blog was less active lately, mostly due to lack of time by our website team. Therefore we are looking for additional authors and editors who write release announcements, review new texts and help improve our website in general.

If you have fun writing or developing websites and want to help, please let us know in this issue. Thanks in advance to anyone offering their

[2019-11-19 21:54] TobiGr commented on #125
We might want to put this note into the main repository to gain more attention.

[2019-11-19 22:54] TheAssassin commented on #125
Please feel free to do so.

[2019-12-27 07:38] Poolitzer commented on #125
Hey guys,
mentioning of this in your release blogpost got at least my attention, so mission accomplished I guess? If you want a bit more attention, you could also pin this issue via the sidebar.

I would be happy to be an author/editor, maybe even developer. I did my fair share of web development, and feel comfortable enough writing posts or FAQs.

[2020-01-01 16:23] DINKIN commented on #125
I would love to contribute in this capacity for this project that I love so much, I haven't done any extensive web development in a very substantial amount of time, but, I do love writing copy so updating a blog with content would be right up my alley

[2020-01-01 19:29] TheAssassin commented on #125
@Poolitzer @DINKIN great to hear you're offering your help. Please feel free to extend our FAQ section, fix issues etc. We happily merge PRs.

After having sent a few PRs which allow us to assess your work, we can consider giving you commit  access. We'll discuss that internally.

[2020-01-01 23:14] TobiGr commented on #125
Thanks to both of you for offering help!

I have some unfinished things in my local repo: a 404 site and a CSS refactor. I hope to find some time to push both soon.

@DINKIN I really appreciate help with the blog. Posts can be found in the [`/_posts/`](https://github.com/TeamNewPipe/website/tree/master/_posts) directory.
Before publishing a new release, we open a pull request in the app repository

[2020-01-01 23:23] Poolitzer opened #129 "CORS header issue"
As discussed in [this](https://github.com/TeamNewPipe/website/pull/128#discussion_r362230881) comment, local clones of the website doesn't allow "reading the remote resource at https://newpipe.schabi.org/api/data.json?json".

This is the linked mozilla developer article: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSAllowOriginNotMatchingOrigin?utm_source=devtools&utm_medium=fi

[2020-01-02 04:12] Poolitzer commented on #96
Hey guys, I saw that issue and it looked pretty interesting to me, so I just threw together a mockup. How does it look, what do y'all think?

![image](https://user-images.githubusercontent.com/25934244/71651468-9acb7200-2cd2-11ea-9753-c3f08671275f.png)

Main problem is that it is quite a bit of text... I also dont really like how the arrows are floating above the text, I'd probably disable them an

[2020-01-02 05:08] Poolitzer commented on #62
Would you like me to add them to the website next to the existing quotes?

[2020-01-13 22:02] TobiGr commented on #96
Feel free to create a new branch so we can comment on the code directly. Please use a `.container` for the carousel text to align the left and right boundaries with the other ones. I'd also suggest to hide the arrows by default and show the on hover. Additionally you can then also add a gradient background to the arrow container to add some more contrast to it.
![donate_draft](https://user-images.

[2020-01-14 11:22] B0pol commented on #69
About comments, it's now in the app, but no comment replies
Then we should update this section
![image](https://user-images.githubusercontent.com/58657617/72340450-258f7200-36c0-11ea-9c0a-b7e69a4c3d88.png)

[2020-01-14 13:36] TobiGr commented on #69
@B0pol Thanks! What about this:
![image](https://user-images.githubusercontent.com/17365767/72348689-38637000-36db-11ea-9a25-236f196a07c9.png)

[2020-01-14 13:39] B0pol commented on #69
Looks perfect to me

[2020-01-14 18:16] Poolitzer commented on #96
I thought I would wait with that until you publish your CSS rewrite @TobiasGr. Or will that be unaffected?

[2020-01-17 23:18] TobiGr commented on #125
@DINKIN I am about to release a new version. Do you have spare time to write a blog post?

[2020-01-17 23:52] Poolitzer commented on #125
I would be around otherwise ;P

[2020-01-18 00:39] TobiGr commented on #125
I mentioned @DINKIN in the release issue https://github.com/TeamNewPipe/NewPipe/issues/2955, but did not get any response. @Poolitzer Feel free to write a post.

[2020-01-18 00:42] TobiGr commented on #96
The CSS refactor is mostly about better class structure and CSS optimizations. This will be unaffected.

I though about the shadow again. I think we should not use it to keep a flat design.

[2020-01-19 23:11] Poolitzer commented on #96
good, okay. I have some other things on my plate, but I will implement a proper version soon and then we can have a look at it

[2020-01-20 06:46] #129 closed

[2020-01-20 06:47] TheAssassin commented on #62
You can, if you want to.

[2020-01-20 15:46] Poolitzer commented on #129
Uhm @TheAssassin why did you close that?

[2020-01-20 16:00] TheAssassin commented on #129
The issue has been resolved by changing a header in the API code and redeploying the API service.

[2020-01-20 17:34] Poolitzer commented on #129
Oh neat

[2020-01-25 23:28] TobiGr commented on #125
We ahve just released 0.18.2, a hotfix release. a short blog post would be awesome.

[2020-01-26 02:41] Poolitzer commented on #125
done, sorry for the delay

[2020-01-26 03:19] Poolitzer opened #132 "ERROR `/js/embed.min.js' not found."
I used the steps described in the [Development section of readme](https://github.com/TeamNewPipe/website#development). Whenever a subpage of blog is opened, this error appears (twice).

[2020-01-26 03:20] TheAssassin commented on #132
That's normal in the blog (not anywhere else). You don't run an instance of isso, our comment server. Not a bug.

[2020-01-26 03:29] Poolitzer commented on #132
okay, maybe we should mention that this error is expected in the readme then?

[2020-02-22 17:51] B0pol opened #135 "-1 contributors on NewPipe press kit"
https://newpipe.schabi.org/press/
Well after refresh it's fine, nevermind

[2020-02-22 17:51] #135 closed

[2020-02-26 12:49] KonoromiHimaries opened #138 "add info about auroradroid"
https://gitlab.com/AuroraOSS/auroradroid#readme

[2020-02-26 14:50] Poolitzer commented on #138
But, uhm. Why? Isnt it another app for the F-Droid backend? And unofficial?

[2020-02-26 15:02] KonoromiHimaries commented on #138
@Poolitzer better design

[2020-02-26 15:10] Poolitzer commented on #138
Sure. But even if you can fight unicorns with it (which is very important, believe me), it is an unofficial app for something we already mention the official app/system for.

Imagine we add your app. Will take us probably one long or two shorter sentences, explaining the circumstances, but we get it done. Then suddenly, there are two more unofficial apps, and they want also to be mentioned here. S

[2020-02-26 15:28] KonoromiHimaries commented on #138
remove f-droid, to not generate ecology cost. google play is one one one best solution ever. nothing, NewPipe is unofficial app and banned in gp : )

make sure, do not support software that offers greater benefits!

[2020-02-26 18:54] Poolitzer commented on #138
you didn't get my point. If we add more apps to that list, where does it stop?

[2020-02-26 19:26] KonoromiHimaries commented on #138
@Poolitzer in new repo, like https://github.com/sindresorhus/awesome

[2020-02-26 21:37] TobiGr commented on #138
users of auroradroid, G-Droid and other F-Droid clients know what their client does and where the apps come from: the F-Droid repository. Thus it is enough to say that NewPipe is available through the main F-Droid repository.
Apart from that, @Poolitzer is right. When we start to list one additional client, we need to mention all. So better list no one.

[2020-02-26 21:37] #138 closed

[2020-02-27 19:02] wb9688 opened #141 "0.58.5 instead of 0.18.5"
The name of https://github.com/TeamNewPipe/website/blob/master/_posts/2020-02-26-newpipe-0.58.5-released.md has 0.58.5 in it instead of 0.18.5 like it should be. @B0pol noticed that on IRC.

[2020-02-27 19:03] B0pol commented on #141
![](https://i.kym-cdn.com/entries/icons/original/000/029/790/2gi1lylqezh21.jpg)

[2020-02-27 19:25] TheAssassin commented on #141
See also https://github.com/TeamNewPipe/website/pull/140#issuecomment-591808480.

[2020-02-27 19:39] TheAssassin commented on #141
Fixed in #140.

[2020-02-27 19:39] #141 closed

[2020-03-25 22:16] TobiGr opened #144 "Link legacy version in download box"
We should link the legacy version and add supported Android versions versions

[2020-03-25 22:35] Poolitzer commented on #144
versions.

on the main page you mean right.

[2020-04-15 18:30] denterwiser commented on #69
Hi everyone.

Excuse me if this is the wrong place to write a suggestion, but could you please include in the FAQ a section on privacy? I know your privacy policy discusses what _you_ may collect, but I think it would be extremely helpful to write something similar to what I see on the Invidio.us site where they also point us to the googlevideo.com's privacy policy as they link directly to videos

[2020-04-15 18:35] TheAssassin commented on #69
Very good idea. Our own privacy policy also requires a link on the third party services' privacy policies. But an FAQ entry is surely helpful, too.

[2020-04-17 01:55] Poolitzer commented on #69
I will write smth together

[2020-05-24 14:42] B0pol opened #150 "Source code of privacy page"
Where is it? I can't find it in this git repository.

I'm talking about https://newpipe.schabi.org/legal/privacy/

[2020-05-24 14:47] TheAssassin commented on #150
There is no source code for this page, it is not supposed to be included anywhere.

[2020-05-24 14:47] #150 closed

[2020-05-26 08:23] tbm opened #152 "FAQ: does it support tablets?"
One of my first questions was: "does this support Android tablets as well"?

The answer seems to be a clear yes, but it seems there might also be [some issues](https://github.com/TeamNewPipe/NewPipe/issues/3592).

Can you mention tablets and TVs on the web site and add a FAQ entry that talks about tablets and menionts that sometimes `Settings --> Appearance --> Grid mode` might be necessary (accor

[2020-05-26 08:25] tbm opened #153 "FAQ: why is this not on Google Play"
The repo clearly states:

But I can't find why.  I guess it's because you're not using their API or something, but it would be nice to have that explained somewhere for those who are wondering.

[2020-05-26 08:30] tbm opened #154 "FAQ page looks like from the 90s"
I should say that I find the website very modern and visually appealing.  However, the FAQ page is an exception.  It looks like from the 90s or something.  I can't *quite* put a finger on why it doesn't look modern, but I think it's related to the type of font in bold and red.  (There's also some text like this on the front page and I think it doesn't look right).

This looks modern and elegant:

[2020-05-26 08:41] tbm opened #155 "Linebreak on frontpage seems strange"
There's a linebreak on the frontpage:

[code]

I don't see a particularly good reason to break this sentence there.

[2020-05-26 09:04] tbm commented on #155
I just noticed:

I think splitting that makes more sense than the other sentence I pointed out, but even here I'm not sure.  If it was placed a little bit further below, it could easily fit into one line.  But feel free to disagree.

[2020-05-26 10:21] B0pol commented on #153
It's violating YouTube ToS (see the right and restrictions, scrappers are mentionned as forbidden). Maybe it's the reason why, I haven't read Google Play ToS.

[2020-05-26 10:36] tbm commented on #153
Oh, that makes sense.  So maybe it's better not to document it too widely.

[2020-05-26 13:35] TheAssassin commented on #153
We are not lawyers and don't give legal advice. However we have come to the conclusion that a violation with any sorts of Google terms is likely.

Personally, I see no reason to pay _them_ money to distribute a privacy-respecting app in their surveillance-based tracking environment. That's one huge misconception. You pay them money and then are at risk of them to deal with your app(s) arbitrarily

[2020-05-26 13:35] #153 closed

[2020-05-27 17:32] TobiGr commented on #154
About the fonts: I thought about using `Roboto` instead of `Arial`

[2020-05-27 18:10] TheAssassin commented on #154
That'd make sense in multiple ways. First of all, it's the Android standard font. Also, it's freely licensed, so we can just ship it to all clients from our servers.

[2020-05-27 18:12] TheAssassin commented on #152
Tablets are very well supported, yes. I use the app on my ~10" one regularly. I don't mind the non-grid mode at all, to be honest, I don't need it and have not activated it.

Please feel free to send a PR improving the wording of pages where you think mentioning tablets is appropriate, or maybe also just adding an FAQ entry.

[2020-05-27 18:15] TheAssassin commented on #155
Please feel free to send a PR.

[2020-06-06 19:48] B0pol opened #162 "Make NewPipe logo go back to home page"
Why does it come back to category page? I've never seen a website doing this, they all go back to main page when I click on the logo.

[2020-06-06 19:48] TheAssassin commented on #162
Where exactly do you experience this behavior?

[2020-06-06 19:50] B0pol commented on #162
FAQ, blog, press

[2020-06-06 19:53] TheAssassin commented on #162
I only know that in the blog, this occurs, but you're right, it should just redirect to the index page. CC @TobiGr

[2020-06-20 17:54] B0pol opened #164 ""Advertise" RSS / ATOM"
I've seen we have RSS and ATOM feeds by looking at the source code. We really should have an icon which links the feed in the blog section
<img src="https://upload.wikimedia.org/wikipedia/en/4/43/Feed-icon.svg">

(and the icon should be red themed like newpipe btw)

[2020-06-20 18:32] TobiGr commented on #164
We link the feed in the sidebar. If you want, I can increase the font size.
![Screenshot_2020-06-20 NewPipe - a free YouTube client](https://user-images.githubusercontent.com/17365767/85208916-42e1ff80-b334-11ea-82f5-6ad5d7757577.png)

[2020-06-20 19:29] TheAssassin commented on #164
It's pretty invisible there. Maybe move it or change the color?

@B0pol you can also just enter https://newpipe.schabi.org in your RSS reader, we link the Atom/RSS feed in the HTML sourcecode, too.

[2020-06-21 14:31] B0pol commented on #164
Uh, it's just ublock origin Fanboy's annoyance list removing rss icons (or even some links). I didn't know that, sorry

[2020-06-21 14:31] #164 closed

[2020-07-11 11:29] B0pol opened #165 "RSS feed sends the whole posts as new posts"
Each few days, I get the 33 blog posts as new articles on my RSS reader, even though I marked all of them as read.

It's the only place where a bug like that happen, therefore it should be a bug on NewPipe side, not my RSS reader.

[2020-07-14 19:43] #155 closed

[2020-07-17 01:21] gkeegan opened #167 "Link to import/export tutorial 404s"
On this page: https://newpipe.schabi.org/FAQ/
if you expand the "Upgrading NewPipe fails", and click the link that says "this tutorial" you are taken to 404 page.

[2020-07-17 02:33] gkeegan opened #168 "Update video on home page when v0.20.0 is released"
The new release will change how the player operates, so the video will have to be updated. It already is outdated since feed groups. It could also show how there is comment support and other sources than YouTube available.

This video: https://newpipe.schabi.org/img/newpipe_promotion_video.mp4

[2020-07-29 04:59] ChiefMikeK opened #172 "Repo link not https (NewPipe blog)"
Click this link should be https
[Team NewPipe publishes own F-Droid repository](https://newpipe.schabi.org/blog/announcement/f-droid/pinned/f-droid-repo/)
![fdroid repo](https://user-images.githubusercontent.com/20070053/88757960-e2977680-d199-11ea-9f11-20f3a744ebc3.png)
[code]

[2020-07-30 11:15] TobiGr commented on #172
Fixed in https://github.com/TeamNewPipe/website/commit/7acbb7b853a000c8ddb3789cf717a179722aa2a2.

[2020-07-30 11:15] #172 closed

[2020-08-04 20:13] ghost opened #173 "Add information about repository for fdroid to main page"
From time to time YT changes keys and NewPipe stops working. I guess that by letting users know that there is a dedicated repository that pushes new fixed version of NewPipe ASAP you could avoid so many duplicates everytime it happens.
![IMG_20200801_142829](https://user-images.githubusercontent.com/69059460/89107180-86d12580-d405-11ea-9cc0-11dcea68dc44.jpg)

[2020-08-04 21:21] TobiGr commented on #173
See #163

[2020-08-09 23:17] donlet opened #174 "Would u add a close button in a popup widow?"
Hi~

I'm so glad to know Newpipe app.
The app quenches my thirsty.
I suggest a close button in popup window even though the window drags the bottom area to close.
And also it's better to close a popup window to replay when I tap the popup button of same video again.

I look forward hearing from you soon.
Thank you.

[2020-08-12 05:30] Poolitzer commented on #174
Hey, you mean a closer button in the app? Because you just created an issue in the repo for the website...

[2020-08-12 05:34] Poolitzer commented on #168
Okay will do (again)

[2020-09-10 17:28] panacist opened #176 "ohh javascript how dare you !!"
i think you should guys redesign the website  using a different mindset !
mainly "anything that you can do without javascript, just dooo it !" and for reasons :
first it is simpler and page will load much faster (it takes me years to fully load the front page using tor browser)
second give me one reason why i don't have the right to see pictures on your website without using javascript ?
third and

[2020-09-10 17:37] B0pol commented on #176
Well do a PR and we'll eventually merge it.

[2020-09-10 17:42] panacist commented on #176
@B0pol i read it we'll haha
okay then i will work on it on my free time hope you will like it!

[2020-09-10 17:46] B0pol commented on #176
@panacist don't change the whole website though.

Having a working menu without JavaScript could be a first step, and it will greatly improve the user experience.

[2020-09-10 17:52] opusforlife2 commented on #176
Make sure you regularly post screenshots of what it looks like with your changes. B)

[2020-09-10 17:57] panacist commented on #176
@B0pol i feel like changing everything but i will need to sketch a desgn first so yup
@opusforlife2 sure thing !

[2020-09-10 18:16] opusforlife2 commented on #176
Slow down, there, buster. Your changes might be rejected, keep in mind, so it's better to do it a little at a time.

[2020-09-10 18:18] TheAssassin commented on #176
"Loading faster" is not based on any facts. JavaScript based features don't really delay anything. The only minor issue might be that the JQuery script is loaded in the `<header>`, but that'll slow down your download as well even if you have JS disabled. Please create a separate issue about this.

You see *every* regular image, nothing is loaded with JavaScript there. As you mention Tor Browser, I

[2020-09-10 18:36] panacist commented on #176
@TheAssassin sorry i thought i was polite i didn't mean to demand anything from you guys really sorry and if you believe the current website loads fine without javascript then excuse me because it doesn't load properly for me.
to just go through your arguments one by one :
well actually disabling js theoritically have to make the page loads faster. less code less delays this is something i think

[2020-09-10 18:44] opusforlife2 commented on #176
How do we consume content? That's right, through language.

Everyone reads a sentence differently based on their own personality, current frame of mind, and so many other factors. If you write in a neutral way that is clear to everyone, then there is a far lower chance of someone misinterpreting you or taking offence.

[2020-09-10 18:47] panacist commented on #176
ahh and the terminal thing : look assassin i just hate web2.0 i wish all websites go back to the first days of the web no pop up ads, no websites with app size front ends , no ajax bullshit...etc
when designing or building any technology that you want to be successful i guess thinking for the minorities and having support for them will be a turning point !
okay terminals are bad but how about blin

[2020-09-10 18:47] opusforlife2 commented on #176
If your changes are based on sound logic and can be verified as objectively better, then no one has a reason to reject them.

[2020-09-10 18:52] panacist commented on #176
@opusforlife2 i do agree that language is important but if i keep worrying about grammar and spelling then i will never ever convey the message (content) which is the important part of it all.
i just hope i wasn't misunderstood because of my opposition to javascript.

i know i was just kidding of course

[2020-09-10 18:56] opusforlife2 commented on #176
That's why the concept of revising drafts and editing exists. 🤭

[2020-10-30 23:39] B0pol opened #182 "Comment text can overtake comment box"
![image](https://user-images.githubusercontent.com/58657617/97765164-65b9c700-1b11-11eb-9861-bcaeb4b6521b.png)

[2020-10-30 23:55] TobiGr commented on #182
seems like the url does not break

[2020-10-31 00:03] TobiGr commented on #182
fixed in 5ceff9d06f78bc3bd71057a76f04c0a2ef4051a5

[2020-10-31 00:03] #182 closed

[2020-11-05 01:16] bughit opened #183 "website and repo are down"
both resolve to 88.99.208.206
[code]

[2020-11-06 05:51] #183 closed

[2020-11-15 10:39] panther7 commented on #69
Hi, export youtube subscription doesn't works by tutorial: https://newpipe.schabi.org/FAQ/tutorials/import-export-data/#import-youtube

[2020-11-15 21:09] Thewisem opened #186 "Video not working"
I tried to watch videos in newpipe but it isnt working.Any video that I try to watch, an error occurs.
## Exception
* __User Action:__ requested stream
* __Request:__ https://www.youtube.com/watch?v=NtAJtaC76H0
* __Content Country:__ GB
* __Content Language:__ en-GB
* __App Language:__ en_GB
* __Service:__ YouTube
* __Version:__ 0.20.1
* __OS:__ Linux Android 7.1.1 - 25
<details><summary><b>Crash

[2020-11-15 21:10] Thewisem commented on #186
Not only this video all other videos are not working

[2020-11-18 16:11] Poolitzer commented on #186
Hey there. This is the wrong repository to report this issue on. Please head over to https://github.com/TeamNewPipe/NewPipe. thank you.

[2020-11-18 16:11] #186 closed

[2020-11-18 17:48] B0pol commented on #186
And don't, because your NewPipe version is outdated. We have fixed this bug in 0.20.2

[2020-11-19 13:36] 532910 opened #188 "atom feed is invalid"
https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fnewpipe.schabi.org%2Fblog%2Ffeeds%2Fnews.atom

Liferea also fails to parse it.

[2020-11-19 16:22] Thewisem commented on #186
Thanks

[2020-11-19 16:26] Thewisem commented on #186
Because it wasnt on fdroid. I must have gotten an older version thanks by the way.

[2020-11-23 20:30] B0pol opened #190 "[blog] change meta author to the actual post author"
Using Firefox reader view, it says the author is "Christian Schabesberger, NewPipe". That's because it gather info from meta author.
Instead, it should be the author written next to `date` by, below title.
Therefore Firefox will show the actual post author.

[2020-11-23 20:33] B0pol opened #191 "[blog] Remove "By Schabi" under icon"
It is confusing.
People may think (and that's what I thought for months) that the post author is Schabi when it's actually the one here:
title
date, by _actual author_

[2020-11-23 21:07] B0pol opened #192 "[blog] change meta description"
According to [MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta/name),

Is not accurate on all blog posts. It should be the paragraphs before ``.

[2020-11-23 21:17] #191 closed

[2020-11-23 21:32] #192 closed

[2020-11-23 21:45] TobiGr commented on #190
Fixed in 4c5229dde7fc19be3455d8bbac44feaa52f9f1be

[2020-11-23 21:45] #190 closed

[2020-11-26 17:39] B0pol opened #193 "Privacy policy is not available"
404 not found

[2020-11-26 17:53] #193 closed

[2020-11-26 18:34] B0pol commented on #193
Why closed? It's still not available?

[2020-11-26 21:41] TobiGr opened #194 "[FAQ] Update import subscriptions tutorial"
NewPipe uses Google takeouts for subscription imports for YouTube since 0.20.3 (see https://github.com/TeamNewPipe/NewPipe/pull/4759).
Apart from that, the screenshots are outdated.

[2020-11-29 12:09] B0pol opened #195 "Update jQuery"
Current version is 2.2.2 according to the comment in the file.
Last version is v3.5.1 and 1.x, 2.x branches no longer receive patches according to [jQuery.com](https://jquery.com/).

[2020-12-01 09:40] TobiGr commented on #188
Fixed by 19290f5e9682429e39326102ceb79c0598bde0b5.
The website is going to be updated later today

[2020-12-01 09:40] #188 closed

[2020-12-01 09:48] #195 closed

[2020-12-01 09:49] TobiGr commented on #195
I upgraded and could not find regression.

[2020-12-01 09:50] #173 closed

[2020-12-01 09:50] #174 closed

[2020-12-01 09:52] TobiGr commented on #167
cannot reproduce anymore. Can you?

[2020-12-01 10:04] TobiGr commented on #165
maybe this is caused by the website deployment. The files are modified (written), but the content did not change.
I am not sure if we can fix this easily. Looks like we need a ruby plugin or some script to run after site generation.

[2020-12-01 10:09] #162 closed

[2020-12-01 11:56] B0pol opened #198 "Update Bootstrap"
Current version is 3.3.7 released on 25 Jul 2016.
The latest version is 4.5.3 released on 13 Oct 2020.

[2020-12-01 12:06] TobiGr commented on #198
upgrading bootstrap will require huge efforts, because there were many breaking changes. They include the grid system, which we use everywhere.

[2020-12-01 12:08] B0pol opened #199 "Evaluate updating lunr.js"
Used version is 0.7.1 released on 18 May 2016,
Latest version is 2.3.9 released on 19 Aug.

[2020-12-01 19:34] TobiGr commented on #198
updated to 3.4.1 in c791195aff36b9cd8f255df735984273414eb7dd

[2020-12-04 06:47] gkeegan commented on #167
It still happens for me. I get the generic nginx 404 page.

[2020-12-04 18:19] denilsonsa commented on #69
"[Export and backup all NewPipe data](https://newpipe.schabi.org/FAQ/tutorials/import-export-data/#export-database)" sounds like it will preserve both the subscriptions, history and playlists; and also all the settings.

However, the text in the paragraph doesn't mention if the settings are preserved or not. It would be clearer if this FAQ entry were explicit about it. (Just like it is already exp

[2020-12-09 10:07] letorbi opened #205 "Replace F-Droid button in header"
With the current problems with F-Droid (https://github.com/TeamNewPipe/NewPipe/issues/5069) and the updated download instructions (https://github.com/TeamNewPipe/NewPipe/issues/5051 & #163) it is quite irritating that the "Get it on F-Droid" button is still in the header of the website.

I've visited the webiste before creating https://github.com/TeamNewPipe/NewPipe/issues/5101 and since the F-Dro

[2020-12-11 22:31] shivasagarrao opened #207 "Privacy policy webpage not available"
### Checklist

- [x] I am using the latest version - 0.20.6
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2020-12-13 12:09] TobiGr commented on #207
thanks for notifying us. Our server crashed and for some reason the service taking care of the privacy policy was not re-started correctly. Fixed now.

[2020-12-13 12:09] #207 closed

[2020-12-15 11:57] #194 closed

[2020-12-16 15:02] Poolitzer commented on #167
no he is right simple fix hang on

[2020-12-16 18:27] #167 closed

[2020-12-21 16:17] #205 closed

[2020-12-24 13:23] B0pol opened #210 "overflow on mobile"
https://newpipe.net/FAQ/tutorials/install-add-fdroid-repo/

[2020-12-24 23:41] Poolitzer commented on #210
That page looks fine on my end what do you mean exactly with overflow?

[2020-12-24 23:59] B0pol commented on #210
I mean that:

<img src="https://user-images.githubusercontent.com/58657617/103111336-3d9b9f80-464c-11eb-8969-c90712b4f898.png" width="300"> <img src="https://user-images.githubusercontent.com/58657617/103111337-412f2680-464c-11eb-8749-34c8cc94e862.png" width="300">

It's not fixed @TobiGr , please reopen

[2020-12-25 00:13] TobiGr commented on #210
I forgot one `<code>` tag, but for some reason, the problem is not solved yet. Will dig into that one another day.

[2020-12-25 00:26] TobiGr commented on #210
Overflow is caused by https://github.com/TeamNewPipe/website/blob/846ed4416fa218722da1c80097d6a89a6977393c/css/faq.css#L344-L350. Don't ask me what I did there and why I did that. Will take a look at it tomorrow.

[2020-12-26 15:53] fbruetting opened #212 "Please fix the website slideshow"
Endless auto-pagination and correspondent resizing of the slideshow makes it's content and everything below really awkward to read.

Additionally, when manually clicking on a pagination-arrow, the slideshow should stop and only work manually. Otherwise it's absolutely terrible to read while the content swaps way too fast.

[2020-12-27 08:34] Poolitzer commented on #212
Hi, you asked for an unspecific fix. I can understand the one you suggest for your second paragraph, but is there something to fix for the first one?

[2020-12-27 18:13] fbruetting commented on #212
It would be nice if you could size the slideshow (or the (placeholder)box around it) according to the content with the largest size. Then both the slideshow arrows as the content below would not be repositioned every 3 seconds.

I would also slow it down to at least 10 seconds holding time! You have to consider older and foreign people, which need way more time for reading. And they also deserve t

[2020-12-30 12:16] Poolitzer commented on #212
I made it so that when you press on the buttons, the sliding stops. I also increased the sliding time in the "download" carousel, but not in the "What other people think" one because they dont think enough (speak: the text in these slides isn't long) for this change to make sense there.

What I am unable to do is change the hight of the slides so that the arrows are set on the same size. In theory

[2021-01-16 18:51] WebworkrNet opened #216 "NewPipe legacy: Link to F-Droid → 404"
https://newpipe.net:
Link (button) to https://f-droid.org/repo/org.schabi.newpipelegacy_120.apk turns to a 404.

[2021-01-20 16:06] mhmdanas opened #218 "Revision link doesn't work"
Here's the current link: https://github.com/TeamNewPipe/website/tree/42ab41a

I'm not certain, but it seems like that commit doesn't even exist.

[2021-01-22 22:17] Poolitzer commented on #218
it works on my local hosting, so it must be something serverside and how Assassin uses git

[2021-01-26 18:07] #218 closed

[2021-01-26 21:40] dylanforegger opened #219 "Increase video download buffering"
This is a beautiful piece of software. I have watched it improve over time tremendously. This is why I am submitting my suggestion to "increase video download buffering".

I use NewPipe to watch YouTube videos on my Android 7 smartphone. The Internet service I use is AT&T, which gives a nice 25 mbps download speed. However, sometimes the download speed can get as low as 3 mbps. When this happens,

[2021-02-13 14:04] StevenGaaming opened #221 "When I try to download the New pipe 20.9 update it says "Forbidden"and it doesn't allow me to proceed with the download."
When I try to download the New pipe 20.9 update it says "Forbidden"and it doesn't allow me to proceed with the download.

[2021-02-13 15:32] Poolitzer commented on #221
Hey, you commented on the website repo, which isn't the one for the app, I am going to transfer you.

It sounds like you didn't allow the browser access to files though, at least to me.

[2021-02-20 10:45] ChrisJr4Eva87 commented on #69
C x

[2021-03-21 10:47] boehles opened #223 "Size adjustment video"
Hi,
thanks a lot for the great app! I have found a bug: Once you set the window size once to "Ausfüllen" and then set it again to "Anpassen", all further videos are still started in "Ausfüllen" mode. So far it's only (sometimes) possible to fix the bug by going to "Vergrößern" and then closing the video completely (so also closing the bar in zoomed out mode). It would be nice if there is a way to

[2021-03-21 10:52] #223 closed

[2021-03-26 18:31] gbzinsheikk opened #225 "Bitcoin donation not working"
I was trying to make a donation via bitcoin, but when i click the button nothing happens. I believe that you're already aware that the button isn't doing anything, but just for my mind's sake I'm telling, because i really prefer to do it via bitcoin

[2021-03-26 22:47] #225 closed

[2021-03-26 22:48] TobiGr commented on #225
thanks for reporting!

[2021-04-11 08:20] PlasticPlates opened #229 "Hey Captcha won't let me pass . . ."
I've been doing about 12 tests but I still can't pass.  This is the first time I've encountered Captcha. It won't let me pass. I can't get in. I'm locked out. It feels like ransomware by way of Captcha but it's not because my device is fine but Captcha won't let me in NewPipe.

Bizarre.

[2021-04-11 12:46] PlasticPlates commented on #229
Hi Sup,

It's okay now.  I'm sorry for being straightforward in my previous post.  And good evening ;-)

Just now I launched NewPipe and encountered no more Captcha/fire hydrants/bridges/crosswalks/chimneys  etc. etc. Thank you so much you saved my sanity ;-)  Though the good thing that happened was visiting your site, read various tidbits about NewPipe and GitHub.

I'll be sending in my contribut

[2021-04-11 12:46] #229 closed

[2021-04-11 12:46] PlasticPlates commented on #229
Hi Sup,

It's okay now.  I'm sorry for being straightforward in my previous post.  And good evening ;-)

Just now I launched NewPipe and encountered no more Captcha/fire hydrants/bridges/crosswalks/chimneys  etc. etc. Thank you so much you saved my sanity ;-)  Though the good thing that happened was visiting your site, read various tidbits about NewPipe and GitHub.

I'll be sending in my contribut

[2021-05-10 07:13] lizardson79 commented on #69
If this app has widget(audio only) on home screen, it will be god like app.

[2021-05-10 20:07] opusforlife2 commented on #69
@lizardson79 This is the repo for the NewPipe website, not the app. Please comment in the correct repo.

[2021-05-14 15:34] yashpalgoyal1304 commented on #69
hi, i think that in this page [adding repo](https://newpipe.net/FAQ/tutorials/install-add-fdroid-repo/) [..](https://github.com/TeamNewPipe/website/blob/master/_tutorials/install-add-fdroid-repo.html) - those 2 parts can be merged.

[2021-05-27 00:42] TheAssassin opened #233 "Rendering tags into URLs makes them unstable"
Right now, for some reason I don't understand, all tags are rendered into post URLs serially. For instance, a post with tags "pinned" and "release" will end up with `blog/pinned/release/<name>`.

First, this suggests a hierarchy that does not make any sense. Tags don't have an order. Second, the URLs become unstable unless you maintain the tags as they are forever. As just showcased, we make mista

[2021-05-27 06:55] Poolitzer commented on #233
Changing the generated URL is very easy. This is done in `_config.yml`, the line 35. Switching it to `permalink: /blog/:title/` results in URLs like `http://localhost:4000/blog/newpipe-0.21.2-released/`. Given that we only have unique titles so far, I dont think having non unique ones is an issue we have to migrate with a date in the URL.

What I do not understand is the generation of HTML meta fo

[2021-05-27 11:34] TheAssassin commented on #233
True. But I'd consider adding a year at least even a feature. This allows you to quickly see how old an article is. That's why I suggested adding it to the URL.

Ideally, Jekyll does it right away. I'm not sure how hard it would be to render the sites a second time, or even better render second pages.

We could, if needed, add some redirections by hand to our nginx config, but that'd be quite some

[2021-06-16 19:54] litetex opened #242 "🌑 Dark mode?"
At first, the website looks already pretty good in my opinion.

However I miss the dark mode a bit.

<details><summary>Actual footage which shows what happen when I open the website</summary>

![my_eyes](https://user-images.githubusercontent.com/40789489/122282874-331bdd80-ceec-11eb-8e46-513ab6d913c3.gif)

PS: NewPipe has even 2 dark (black) modes, maybe we can steal one and add it to the website

[2021-07-03 10:11] jidanni opened #243 "Add link to really basic documentation"
On https://teamnewpipe.github.io/documentation/
  add a link for users who just want to find out how to watch a couple movies.

[2021-07-07 04:55] jidanni commented on #243
One example is so-called gestures that we see in the settings mentioned. Well I certainly couldn't figure out how to find those gestures so I can't tell if they're working or not. So the best I could do is just turn off the setting.

[2021-07-07 04:56] jidanni commented on #243
Also, all the documentation should also be available within the app itself too. Because you never know when somebody might be offline.

[2021-07-09 08:47] swarupbhanjachowdhury opened #244 "The website is down"
https://newpipe.net is down, and also fdroid repo not working for that

[2021-07-09 09:00] TobiGr commented on #244
Thank you for letting us know!

[2021-07-09 14:13] #244 closed

[2021-07-10 09:40] Poolitzer commented on #243
I think that would be pretty hard to implement UI wise, not to mention one would need to translate them? anyway, you would need to open a new issue for that :D

[2021-07-10 13:16] TobiGr commented on #243
https://teamnewpipe.github.io/documentation/ is a documentation for devs. Not for users. And information on how to use the app should be given inside the app.

However, we have a (outdated) FAQ here: https://newpipe.net/FAQ

[2021-07-10 13:16] #243 closed

[2021-07-23 21:10] machantoshi opened #288 "[SOLVED] Background Music Player / Control Missing"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.

#### What's your question(s)?
Hi, I'm new here. Just wondering about Newpipe background player.
I've tried searching about this issue but could not find it, or may

[2021-07-29 04:47] Akpsaheer opened #247 "Is there any way to use new pipe in desktop"

[2021-07-29 06:41] Poolitzer commented on #247
hi, what is pipe in this context?

[2021-10-02 21:30] tatsuikeda opened #253 "2x playback request"
is this possible? thanks for developing NewPipe I just started using it today

[2021-10-03 13:44] Poolitzer commented on #253
Hi, this works already. hit the 1x menu in the video playback (one of the upper icons, right to the resolution). You can go to 3x and even unhook audio pitch if you desire.

For the future, this is the repository for the website, not the app.

[2021-10-03 13:44] #253 closed

[2021-10-14 06:24] legatosoro opened #259 "External playback in 720p60 or HIGHER, audio fix"
when using external players such as VLC or MX, playing at 720p60 or 2K - 4K there is audio problem, since 2017

I think it is a good option VS the MEGA BUG of SmartTubeNext, more in SMAR TV 4K, but using the internal player in 4K it causes me jerks, but in MX IT IS VERY FLUID in 4K but without audio,my TS4K, I think many of us are interested in the NEWPIPE more in 4K TVs with external player, hope

[2021-10-15 06:20] Poolitzer commented on #259
hey, your wording is not really understandable, and this is the wrong repo to report app bugs, head over to https://github.com/TeamNewPipe/NewPipe/issues and make sure to fill out the issue template there.

[2021-11-10 13:03] hammolo opened #263 "Samsung Dex, and subtitles"
When using Dex on Windows (probably happens with native Dex as well), simply activating or deactivating subtitles crashes the app.

[2021-11-10 13:04] #263 closed

[2021-11-10 13:04] hammolo commented on #263
wrong section.

[2021-11-27 20:17] nitramus123 opened #264 "Request for showing channels in groups."
I created groups but the feed shows all videos in that group. I would love to have the option of showing the channels in the group instead of the videos.
So I open the group and see my list of selected channels and then open the channel to see its content.
Thanks

[2021-11-27 20:18] opusforlife2 commented on #264
Wrong repo. You're looking for https://github.com/TeamNewPipe/NewPipe.

[2021-11-27 20:18] #264 closed

[2021-11-28 10:27] Gill-Grmn opened #265 "Newpipe is incedible slow under Chrome OS Chromebook"
When using Newpipe at my Android capable Chromebook (running Chrome OS 96 / 97, it is a ligning fast Acer Spin 713-2W with i5-CPU) it needs at least 20 seconds to show any content and also to start video playback.

This problem exists since about 3 oder 2 month and neithter updating Chromebook (started with Chrome OS 95) nor updating Newpipe had changed this issue.

I do *not* have this issue with

[2021-12-07 10:18] yashpalgoyal1304 commented on #69
hi @Poolitzer , i totally forgot about that.

yeah, so, what i want to say can't be illustrated as such. i though to show it in a diff itself, but html is not smth i feel very confident editing on my own. so... amh, also, i have 2 doubts regarding first method.

1. how will u scan the qr code?
2. and clicking the link does nothing either.

To make either of this work, i have to use external apps.

[2021-12-07 10:29] yashpalgoyal1304 commented on #69
oh, and also, the highlighted portion below is not shown in the automatic section. but these steps still apply there. so, why are they not shown in on there?

![vivaldi_OvFXQ2T4ix](https://user-images.githubusercontent.com/19423063/145012372-41c2f6c0-5b35-4aee-a5bc-4d9b38873f53.png)

shall i open this in a separate issue and move over the discussion there?

[2021-12-07 16:18] yashpalgoyal1304 opened #266 "add-fdroid-repo page query"
[adding repo](https://newpipe.net/FAQ/tutorials/install-add-fdroid-repo/)[..](https://github.com/TeamNewPipe/website/blob/master/_tutorials/install-add-fdroid-repo.html) says to
* "click" the link
* i think it was supposed that it'd open with fdroid
* but it doesnt happen, instead the page for `Index of /fdroid/repo/` is opened
![image](https://user-images.githubusercontent.com/19423063/145065565-

[2021-12-07 16:27] yashpalgoyal1304 opened #267 "add-fdroid-repo "unsigned/unverified""
in the [adding repo](https://newpipe.net/FAQ/tutorials/install-add-fdroid-repo/)[..](https://github.com/TeamNewPipe/website/blob/master/_tutorials/install-add-fdroid-repo.html) page, the highlighted portion below from [#manually](https://newpipe.net/FAQ/tutorials/install-add-fdroid-repo/#manually) still applies for the [#qr-code](https://newpipe.net/FAQ/tutorials/install-add-fdroid-repo/#qr-code)

[2021-12-07 17:43] yashpalgoyal1304 opened #268 "add-fdroid-repo page suggestions"
copying over my input from https://github.com/TeamNewPipe/website/issues/69#issuecomment-841319209 and thereafter:

* i think that in this page [adding repo](https://newpipe.net/FAQ/tutorials/install-add-fdroid-repo/)[..](https://github.com/TeamNewPipe/website/blob/master/_tutorials/install-add-fdroid-repo.html) those 2 parts can be merged
* i am not able to be illustrate it further as such withou

[2021-12-08 06:32] yashpalgoyal1304 commented on #266
so, i have tested on 3-4 devices (running android 10, 11), and the issue seems to be with the app from which the above link is clicked.

The behaviours i'd categorise as 2:
* vv means
app picker shown, f-droid present there
* xx means
no app picker shown (and proceeds to the webpage which shows above behav)

| Behaviour | App Category | Apps |
| -- | -- | -- |
| xx | Browsers | Vivaldi 4.1.2366.26

[2021-12-08 06:49] yashpalgoyal1304 commented on #266
The comment https://github.com/TeamNewPipe/NewPipe/issues/7436#issuecomment-977718002 sheds some light on an issue which mayyyybe related to this, though i tested with android 10/11....

[2021-12-12 19:39] yashpalgoyal1304 commented on #266
@linsui @licaon-kter any comments??

tl;dr:
browsers are not redirecting repo links to be handled by open with dialog, and so, fdroid is not shown.....
so, something has to be done there regarding this imo: https://f-droid.org/en/tutorials/add-repo/

does this seem good enough to open an issue on fdroid's own repo? i'll copy it there if so.

[2021-12-12 20:54] licaon-kter commented on #266
There's an F-Droid issue (in Client iirc) about the way different apps react to a repo link, some open F-Droid...some don't.

[2022-01-16 22:40] jaksonmoura opened #270 "Landing page redesign - Feedback"
Hello!
Love the project! Use it every day.

I was looking for a way to contribute and saw I could help with design/front-end coding. So..
Here is a design I've made on figma:

* [Design 1](https://drive.google.com/file/d/1uGuYJkgZaiX1l_k14W8Xt_tTijgXN0KX/view?usp=sharing)
* [Design 2 (just a minor style on the first section)](https://drive.google.com/file/d/1f99Kg-29F1ae2Ev35rxUu-d5H4xcM4xO/view?u

[2022-01-16 23:10] TobiGr commented on #270
Looks great! Thank you. I prefer the first header design.
I have a few minor things to note:

1.  The title should be "The lightweight streaming experience for Android"
1.  NewPipe supports multiple services: YouTube, SoundCloud, PeerTube, Bandcamp and media.ccc.de. Those should be be visible and recognisable somewhere in the first third of the page.
1. I think the main argument to use NewPipe is

[2022-01-18 10:42] jaksonmoura commented on #270
Thanks for the feedback!
I'm addressing your questions/notes below:

1. The title should be "The lightweight streaming experience for Android" **(I'm changing that)**
2.    NewPipe supports multiple services: YouTube, SoundCloud, PeerTube, Bandcamp and media.ccc.de. Those should be be visible and recognisable somewhere in the first third of the page. **(The design of this section was in my head, b

[2022-01-18 10:45] jaksonmoura commented on #270
Forgot to say, but I can slowly adjust the other parts of the site as well.

[2022-01-19 14:40] jaksonmoura commented on #270
I believe these versions address all the notes pointed:

- [Desktop version](https://drive.google.com/file/d/1EgBQMcHVQLMOVKcH4yRm9mCMAKtlSHTD/view?usp=sharing)
- [Mobiel version](https://drive.google.com/file/d/1mPWwq2k46_MNudg-DZnwmNpOQSBphz_w/view?usp=sharing)

[2022-02-01 14:05] harryhorst opened #272 "Nichts geht mehr seig heute. "Entschuldigung, es ist etwas schiefgelaufen""

[2022-02-01 14:07] Poolitzer commented on #272
Wrong repo, wrong language, wrong move (no need to create a new issue, like, at all)

https://github.com/TeamNewPipe/NewPipe/issues/7734

[2022-02-01 14:07] #272 closed

[2022-02-02 12:37] selivan opened #273 "Can not create bug report in NewPipe repository: "An owner of this repository has limited the ability to open an issue to users that have contributed to this repository in the past. ""
## Exception
* User Action: requested stream
* Request: https://www.youtube.com/watch?v=mJh9qQbdux0
* Content Country: RU
* Content Language: ru
* App Language: en_US
* Service: YouTube
* Version: 0.21.15
* OS: Linux Android 11 - 30
<details><summary><b>Crash log </b></summary><p>

org.schabi.newpipe.extractor.stream.StreamInfo$StreamExtractException: Could not get any stream. See error variable t

[2022-02-02 12:38] selivan commented on #273
Since I am not able to post bug report in NewPipe repository, I posted it here.

"An owner of this repository has limited the ability to open an issue to users that have contributed to this repository in the past. " - this so doesn't make sense.

[2022-02-02 13:03] mhmdanas commented on #273
We locked the NewPipe repo temporarily because we had a huge influx of users reporting YouTube videos being broken, even when we already knew of the issue and a fix was underway. Anyway, [0.21.16](https://github.com/TeamNewPipe/NewPipe/releases/tag/v0.21.16) is out with the fix, please upgrade NewPipe.

[2022-02-02 13:03] #273 closed

[2022-02-21 02:24] theScrabi opened #275 "Update donation info"
The [Donation Info Page](https://github.com/TeamNewPipe/website/master/donate/index.html) is havily outdated. Boutisource link is dead and bitcoin is something we don't do anymore.

[2022-04-07 20:58] rodcpanel commented on #69
I have uninstalled NewPipe after years of use. It is too unreliable.

Worked for years okay. Last week version 0.22.1 on my Android 11 Samsung tablet stopped working 'unable to parse website'. Deleted app, reinstalled latest version, now it can parse website, I am able to watch/listen in app but unable to download any files because NewPipe now refuses to recognise any of my file managers although

[2022-04-08 01:16] yashpalgoyal1304 commented on #69
(i cant say the exact names, 'cz i dont use en(glish). that's why i am
including item number)

1. Settings
2. Contents (Globe icon, 5th item)
3. Main Page Content (4th item)
4. Bring "Blank Page" to top by tap and dragging the "burger" button

rodcpanel wrote:

[2022-05-20 09:32] tinker123456 opened #281 "What is the proper place to make a feature request?"
What is the proper place to make a feature request?

[2022-05-20 11:27] Poolitzer commented on #281
[Please use the Issue tracker at ](https://github.com/TeamNewPipe/NewPipe/issues/new?assignees=&labels=enhancement&template=feature_request.yml)

[2022-05-20 11:27] #281 closed

[2022-05-20 18:44] Rina-Silver commented on #69
in the background player, the volume decreases when a notification arrives, but does not automatically increase back.

[2022-05-27 20:42] dasapa4746 commented on #69
Hi! this is a suggestion about suggestions. I created an account to make some feature suggestions on here but have no idea how to do it, if I should use all tags or just enhancement, etc. went looking at the faq and landed here but no tutorial So the extra suggestion is a tutorial on how to post feature requests, and bugs as well if you have he time for those of us that have 0 coding experience as

[2022-06-01 16:48] LinuxOnTheDesktop opened #282 "'Quick help when you have a problem (nobody's ever had one)'"
'Nobody's ever had one' is likely false and at best a hostage to fortune! ([URL at which the text appears](https://newpipe.net/).)

[2022-06-01 16:50] LinuxOnTheDesktop opened #283 "You should make it clear that the program is Android only"
https://newpipe.net/ does not make it very clear that the program runs only on Android (at least in the absence of some sort of emulator). Making this clear would aid some potential users.

[2022-06-04 22:31] TiA4f8R commented on #283
I don't think so on the website itself: the website header of the home page cleary states that the app is made for Android devices only:

<img src="https://user-images.githubusercontent.com/74829229/171493042-c430c166-8822-4c77-8c2a-d694c274cdfb.png" width="300px" alt="newpipe_website_header_mobile">

This is also shown on higher screens (desktops, tablets) (it is also the case above download butt

[2022-06-05 15:00] Poolitzer commented on #282
That is the point behind the joke, it is very much false :)

[2022-06-09 18:47] leminsc8er opened #284 "[wish] offline video mode"
wish this offline function for verry low internet connection for videos (maybe audio too) or look later without connection

- "save video"-button: will automatic download video for offline using into NewPipe if have of  connection!; show status on button if downloaded and give option for delite
- "save video" playlists will automaticly download all videos from playlists from youtube or newpipe if

[2022-06-09 18:53] leminsc8er opened #285 "[wish] offline tab"
Wish i can manage downloaded videos and convert audios into maintab for more
- organized files and playlists
- offline informations
- play into newpipe! (show playstatus; priority offline)
- subsection of #284

[2022-06-09 19:10] leminsc8er opened #286 "[wish] share options"
url > newpip
- add  #284
- add to playlist
- add to main playlist "later"

[2022-06-09 19:12] leminsc8er opened #287 "[wish] floatering playerbutton"
- floatering playerbutton on newpipe
- open player (audio and video)

[2022-06-09 20:24] #284 closed

[2022-06-09 20:24] #285 closed

[2022-06-09 20:24] #286 closed

[2022-06-09 20:24] #287 closed

[2022-06-09 20:28] #282 closed

[2022-07-17 17:16] #288 closed

[2022-08-04 22:40] Andre601 opened #291 "Are translations possible"
Not sure if there already is some translation stuff within the website, but if not, consider having i18n support added to the site if Jekyll and Bootstrap support it.

Considering that the app itself is already being actively translated in several languages, I believe there is no issue finding people willing to also translate the website. :)

In regards to pages such as blogs and legal stuff could

[2022-08-04 23:26] Andre601 opened #292 "Change comment system?"
Looking at the comment system, I had 3 specific questions:

- Why does it look like being stuck in the late 90s?
- Who actually offers this comment system?
- Where is the info (Comments, username, etc) stored?
- Can I access the data if needed?
- Why can I not properly count?

I am well aware that the provider of this comment system is mentioned in the Privacy Policy of the NewPipes website, but i

[2022-08-06 17:35] Poolitzer commented on #292
I think requiring people to use a Github Account would be unacceptable.

As the privacy site states (https://newpipe.net/legal/privacy/), we use [Isso](https://posativ.org/isso).

Doesn't really matter who offers it, you can write an email to the person mentioned in there and get "access" to that data that way, but please don't do this just because you feel like it, it is an actual human from our

[2022-08-06 17:38] Poolitzer commented on #291
I think before we can start with translating, we should rather clear our backlog with all the other issues/improvements. But I mean, its programming. (Almost) everything is possible if you spend enough time doing it.

Before you (or anyone) spends time on that, please write another comment and get the opinion of more people. I personally do not like translations, they create an issue as soon as th

[2022-08-12 15:52] Ibiza2004 commented on #69
Hello 👋 i made an export file of youtube from Google takeout.when i tried to select there were not such options like select subscription only or something.and that exported zip file still now rotting in my phone.I tried to import it to Newpipe numerous times but it was failed.

And now Newpipe isn't working what to do??

[2022-08-15 11:18] ctd42 commented on #69
Ich möchte NewPipe auf Chromebook Acer Spin 513 installieren. Kann ich dafür das aktuelle Release 0.23.2 verwenden – und wie muss ich vorgehen?
Bin 80 und unerfahren. Habe Linux-Entwicklungsumgebung eingerichtet und würde APK im Linux files directory speichern.

[2022-08-16 08:40] UmBottesWillen opened #294 "Adding newpipe.net repo to F-Droid results in an error"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have taken the ti

[2022-08-16 20:40] LinoMastro commented on #294
I'm also affected by this and for me removing and adding back the repository doesn't fix the issue (I've tried several times).

Every time I add the repository (or simply disable it in F-Droid and enable it again) I get the error message mentioned in the first comment.

This happens only with the NewPipe repository, I tried adding custom repos from other projects and they load correctly.

I'm usin

[2022-08-17 01:41] EvanCarroll commented on #294
This solution worked for me

https://android.stackexchange.com/a/248048/7425

[2022-08-17 06:19] xyoutuber commented on #294
I'm really not tech savvy so not sure what I'm doing. I clicked on download Fdroid on the link you sent me and got message "not installed as pkg. so won't work" or something like that.
I appreciate your trying to help me. Do you have any other ideas how to download a WORKING Fdroid app?
Thanks, Linda Balzan
--
 Sent with Tutanota, enjoy secure & ad-free emails.

Aug 16, 2022, 6:41 PM by ***@***.**

[2022-08-17 06:32] EvanCarroll commented on #294
Not sure at all what error you're getting there. The easy way to download the NewPipe App is to just remove all copies if you have any of the NewPipe App and download the newest APK here,

* https://github.com/TeamNewPipe/NewPipe/releases

The problem with that is you have to manually upgrade. To make that easier you can install F-Droid. Then you have automatic upgrades. The problem here is that t

[2022-08-17 06:46] xyoutuber commented on #294
I really appreciate your trying to help me (an old, not tech savvy lady)!!
I got NewPipe to work again, not sure if I did it or if it just started working on its own. 
My only problem now is that the Fdroid store app that came with this degoogled phone stopped working.  Not many apps there and if I see one I want, when I click on down arrow, it just flashes, won't download. Any ideas to help me wi

[2022-08-17 06:56] LinoMastro commented on #294
I finally figured out the problem: if you paste the full URL from the NewPipe documentation "https://archive.newpipe.net/fdroid/repo/?fingerprint=E2402C78F9B97C6C89E97DB914A2751FDA1D02FE2039CC0897A462BDB57E7501" into the "repository address" field in F-Droid, you get the "null" error message mentioned at the beginning of this bug.

What F-Droid actually wants is only the first part of the URL in t

[2022-08-17 08:45] Poolitzer commented on #294
Yes, thats a sensible update indeed

[2022-08-21 14:10] designstorming opened #296 "Delete this"
Sorry admins, delete this, posted in wrong tab and wrong repo

[2022-08-21 16:18] #296 closed

[2022-08-27 11:13] hilariousperson opened #297 "archive.newpipe.net does not support TLS secure renegotiation, causing f-droid to fail updating"
When updating the newpipe upstream repository, F-Droid fails with the following error: `Error getting F-Droid index file => java.security.cert.CertPathValidatorException: Trust anchor for this certification path not found.`

Checking with `curl` and `openssl s_client` reveals that it seems archive.newpipe.net does not support TLS secure renegotiation, used to prevent certain Man-in-the-middle atta

[2022-08-27 11:40] #297 closed

[2022-08-27 16:48] opusforlife2 commented on #297
Why did you close this?

[2022-08-27 17:06] hilariousperson commented on #297
I realized this was over-eager internet filter trying to Man-in-the-Middle my connection to this specific server for some reason. This is not a problwm witj NewPipe after all.

[2022-08-27 17:13] opusforlife2 commented on #297
Thanks for confirming!

In general, it's a good habit to provide an answer for the sake of others: https://xkcd.com/979/

[2022-09-26 07:30] flexagoon opened #300 "Wrong minimum version information"
After https://github.com/TeamNewPipe/NewPipe/pull/7613, NewPipe no longer supports Android 4.4. However, the website still says `Android 4.4+`.

[2022-09-28 07:48] Poolitzer commented on #300
That is true and will be fixed once #301 is merged

[2022-09-28 16:53] #300 closed

[2022-09-30 10:00] mhmdanas opened #302 "Remove mentions of NewPipe Legacy"
[The now-unmaintained NewPipe Legacy](https://newpipe.net/blog/pinned/newpipe-legacy/) is still referenced on the website, most prominently in [the home page](https://newpipe.net/#download). Those references should be removed.

[2022-10-24 20:43] #210 closed

[2022-10-29 04:11] xyoutuber opened #307 "Half of my subscriptions on Newpipe won't show up just starting today 10-28-22. Did YouTube delete a bunch of channels? How do I get them back or where do I go for Newpipe support?"

[2022-10-29 09:36] AudricV commented on #307
Wrong repo and known issue.

[2022-10-29 09:36] #307 closed

[2022-11-01 16:19] epbrown2004 commented on #69
All subscribed sights are loading blank

[2022-11-05 00:31] RRobso opened #308 "Canais não aparecem os vídeos"
![Screenshot_20221104-202718_NewPipe](https://user-images.githubusercontent.com/117491826/200092670-6e2df512-bedf-4970-9784-bd247a1895d2.jpg)

Todos os canais que estou inscrito e até os que não estou inscrito, não aparece os vídeos publicados

[2022-11-05 11:00] Poolitzer commented on #308
Hey, please open your issues in english and in the correct repository

[2022-11-05 11:00] #308 closed

[2022-11-05 13:08] opusforlife2 commented on #294
Whoops. I completely forgot to close this. Fixed by #295.

[2022-11-05 13:08] #294 closed

[2022-11-22 12:00] DizzyTarifa opened #310 "Download queue disappears when app is closed. Leaving feed info in cache and an empty or partially downloaded but inaccessible file in memory."
I am not a programmer and am new to this. I hope this is the right place to leave my report and you are able to take it on.
I look forward to your comments.
Regards Dizzytarifa.

[2022-11-24 14:45] emstef opened #311 "Audio ducking when notifications are received"
Audio playback reduces volume when notifications are received but when the app is not in the foreground the volume does not come back up.
This happens when the background button is pressed but also when the video is playing in the background.
I'm using MIUI on Xiaomi Mi 10T Pro.

[2022-11-24 14:46] #311 closed

[2022-11-27 08:43] UseMarkus opened #312 "NewPipe request functionality"
First of all: I am a complete newbee and impressed by all your commitment.

I am using NewPipe and was wondering;

- can Newpipe stop/play with the same controls as my musicplayer? I.e. the controls of my headphones.
- can NewPipe be fullscreen on my Lenovo Tab ?
Thanks for your input.
Markus

[2022-11-27 08:54] UseMarkus commented on #312
I want to add: no fullscreen in productivity mode, so landscape with keyboard attached.
i just realised that in -normal- mode it works fine.

[2022-11-27 08:54] #312 closed

[2022-11-27 09:00] UseMarkus commented on #312
Stop/play is fine now, I tested it agin and it works fine.
In productivity-mode however I cannot select fullscreen.

[2022-11-27 15:32] opusforlife2 commented on #312
Wrong repo.